{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}

{% block tTitle %}Upload CountEntry Results{% endblock %}

{% block boddy %}
    <div class="container text-center mx-auto">
    <div class="row">
        <div class="col-10 fs-1">
            Upload Count Entry Results
        </div>
        <div class="col-2 text-end"> {{ user.get_full_name }} </div>
    </div>
    </div>
    <hr>

    {% csrf_token %}
    <h4>
        {{ ResultStats.nRowsRead }} spreadsheet rows read <br>
        {{ ResultStats.nRowsNoMaterial }} rows skipped (no Material given or WICSIgnore set) <br> 
        {{ ResultStats.nRowsErrors }}  rows with errors <br>
        {{ ResultStats.nRowsAdded }} Count Entry records successfully uploaded <br>
    </h4>

    <ul>
    {% for res in UplResults %}
        <li>
    {% comment %}
    errState = models.CharField(max_length=100, null=True)
    errmsg = models.CharField(max_length=512, null=True)
    rowNum = models.IntegerField(null=True)
    {% endcomment %}
            Sprsht row {{ res.rowNum }}, 
            {% if 'error' not in res.errState %}
                {% comment %}
                Count Record {{ res.id }}: {{ res.CountDate|date:'Y-m-d '}} | {{ res.MaterialNum }} |
                    {{ res.Counter }} | {{ res.LOCATION }} |
                    {% if res.LocationOnly %}LOCATION ONLY{% else %}{{res.CTD_QTY_Expr }}{% endif %} 
                    added
                {% endcomment %}
                Count Record {{ res.errmsg }} added
            {% else %}
                <b>{{ res.errState }}: {{ res.errmsg }}</b>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <!-- form footer -->
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-4"></div>
            <div class="col-6"></div>
            <div class="col">
                <button id="close_btn" type="button" onclick="window.close();" >
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>
    
    <script>
        $( document ).ready(function() {
            const formdata = new FormData();
            formdata.append('phase', 'resultspresented')
            csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
                type: 'POST', 
                data: formdata,
                headers: {'X-CSRFToken': csrftoken},
                processData: false, 
                contentType: false, 
                success: function(data) {}
                });

            // announce the results
            speak("Your Count Entries are Uploaded."
                + "  {{ ResultStats.nRowsRead }} spreadsheet rows were read."
                + "  {{ ResultStats.nRowsNoMaterial }} rows were skipped."
                + "  There were {{ ResultStats.nRowsErrors }} rows with errors."
                + "  {{ ResultStats.nRowsAdded }} Count Entry records were successfully uploaded."
            );
        });    

        // let there be voice!!
        const synth = window.speechSynthesis;
        const pitch = 1, rate = 1.3;

        function speak(textToSpeak) {
              if (textToSpeak !== "") {
                const utterThis = new SpeechSynthesisUtterance(textToSpeak);

                utterThis.onerror = function (event) {
                  console.error("SpeechSynthesisUtterance.onerror");
                };
            
                /* work in preferred voice later ...
                const selectedOption =
                  voiceSelect.selectedOptions[0].getAttribute("data-name");
            
                for (let i = 0; i < voices.length; i++) {
                  if (voices[i].name === selectedOption) {
                    utterThis.voice = voices[i];
                    break;
                  }
                }
                */
                utterThis.pitch = pitch;
                utterThis.rate = rate;
                synth.speak(utterThis);
              }
        }


    </script>

{% endblock %}
