{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load evaluate_arithmetic %}

{# I gotta clean this template up too... #}


{% block tTitle %}Count Entry{% endblock %}

{% block boddy %}
    <div class="container text-center mx-auto">
    <div class="row">
        <div class="col-10 fs-3">
            <u>{{ orgname }}</u>
            <br>Count Entry
        </div>
        <div class="col-2 text-end"> {{ uname }} </div>
    </div>
    <div class="row"> <!-- status messages -->
        <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
        {% if changes_saved.main %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                Count record {{ changes_saved.main }} successfully saved.
                ChData: {{ changed_data.main }}
            </div>
        {% endif %}
        {% if changes_saved.matl %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                Material changes for this record successfully saved.
                ChData: {{ changed_data.matl }}
            </div>
        {% endif %}
        {% if changes_saved.schedule %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                Count Schedule changes for this record successfully saved.
                ChData: {{ changed_data.schedule }}
            </div>
        {% endif %}
    </div><!-- row -->
    </div><!-- container -->
    <hr>

   {{ recNum }}

    <form id="CEForm" class="trackformchanges" method="post">
        {% csrf_token %}
        <!-- form header -->
        {{ frmMain.errors }}
        <input type="hidden" id="RecPK" name="RecPK" value={{ recNum }} required></input>
        <div class="container">
            <div class="row">
                <div class="col-1">{{ frmMain.id }}</div>
                <div class="col-5 bg-secondary text-warning">Fields in <span class="bg-danger fw-bold">RED</span> are required before Saving the form</div>
            </div>
        </div>
        <!-- main part of form -->
        <!-- put initial focus on Material and/or init CountDate to today(local), skip CycCtID -->
        <div class="container-fluid m-1">
        <div class="row g-0">
            <div class="col-2">Count Dt: {% render_field frmMain.CountDate type="date" class="bg-danger" tabindex="-1" size="8" onchange="loadExtraInfo();" required=True %}</div>
            <div class="col-2">CycCt ID: {% render_field frmMain.CycCtID tabindex="-1" size="8" %}</div>
            <div class="col-4">Material:
                {# {% render_field frmMain.Material onchange="loadExtraInfo()" %}</div> #}
                <input list="Material-list"
                    id="{{frmMain.Material.id_for_label}}" name="{{frmMain.Material.html_name}}"
                    class="bg-danger"
                    tabindex="1" autofocus
                    onfocus="$(this).select();"
                    onchange="loadExtraInfo();"
                    value="{{matlchoiceForm.gotoItem.Material}}"
                    required
                    style="width:18em;">
                </input>
                <span class="bi-caret-down-square"
                    style="position:relative;top:+0px;font-size:20px;left:-30px;"
                    tabindex = "-1"
                    onclick="$('#{{frmMain.Material.id_for_label}}').focus();">
                </span>
                <datalist id="Material-list">
                    {% for itm in matlchoiceForm.choicelist %}
                        <option value="{{itm.Material}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-3">Actual Ctr: {% render_field frmMain.Counter class="need-Matl-Dt bg-danger" size="12" %}</div>
            <div class="col-1">LocOnly:{% render_field frmMain.LocationOnly class="need-Matl-Dt" onchange="SkipCountIfLocationOnly();" %}
                {# onchange="" #}  <!-- skip CTD_QTY if clicked -->
            </div>
        </div>
        <div class="row g-0">
            <div class="col-6">Ctd Qty:
                {% render_field frmMain.CTD_QTY_Expr class="need-Matl-Dt" size="45" onchange="sCE();" autocomplete="off" %}
                <span class="container-md" id="EvalExpr">????</span>
            </div>
            <div class="col-2">Building: 
                {% render_field frmMain.BLDG class="need-Matl-Dt bg-danger" size="8" %}
            </div>
            <div class="col-2">Location: {% render_field frmMain.LOCATION class="need-Matl-Dt" size="8" %}</div>
        </div>
        <div class="row g-0">
            <div class="col-2">
                Possibly Not Rcvd: {% render_field frmMain.FLAG_PossiblyNotRecieved class="need-Matl-Dt" %}
            </div>
            <div class="col-2">
                Mvmnt During Ct: {% render_field frmMain.FLAG_MovementDuringCount class="need-Matl-Dt" %}
            </div>
            <div class="col-2">
                Pkg ID/Desc: {% render_field frmMain.PKGID_Desc class="need-Matl-Dt" size="7" %}
            </div>
            <div class="col-2">
                Tag Qty: {% render_field frmMain.TAGQTY class="need-Matl-Dt" size="7" %}
            </div>
            <div class="col-4">Notes: {% render_field frmMain.Notes class="need-Matl-Dt" size="35" %}</div>
        </div>
        <hr>
        <div class="row g-0">
            {{ frmMatlInfo.id }} 
            <input type="hidden" id="MatlPK" name="MatlPK" value={{ frmMatlInfo.id }} required></input>
            <div class="col-4">Desc: {% render_field frmMatlInfo.Description size="40" %}</div>
            <div class="col-2">Pt Type: {% render_field frmMatlInfo.PartType class="need-Matl-Dt" style="width:7em" %}</div>
            <div class="col-5">
                Typical Container Qty: {% render_field frmMatlInfo.TypicalContainerQty class="need-Matl-Dt" style="width:7em" %}
                Typical Plt Qty: {% render_field frmMatlInfo.TypicalPalletQty class="need-Matl-Dt" style="width:7em" %}
            </div>
        </div>
        <div class=row g-0>
            <div class="col-12">Material Notes: {% render_field frmMatlInfo.Notes size="100" class="need-Matl-Dt" tabindex="-1" %}</div>
        </div>
        </div>  <!-- container-fluid, on same level with rows -->
        {% if todayscounts %}
            <hr>
            <u>All Counts for this date</u>
            <div class="Container" style="height:70px; overflow-y:auto; overflow-x:clip">
            {% for ctRec in todayscounts %}
                <div class="row g-0">
                    <div class="col">{{ ctRec }} / {{ ctRec.CTD_QTY_Expr }} = {{ ctRec.CTD_QTY_Expr|eval_arith }}</div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <hr>
        <u>Schedule Info</u>
        <br>
        {% if noSchedInfo %}
            <div class="col-8">  <h3>MATERIAL NOT SCHEDULED FOR COUNT ON THIS DATE</h3>  </div>
            <div class="col-4">  <button id="SchedCount" type="button" class="need-Matl-Dt" >Schedule Count</button>  </div>
        {% else %}
            {# {{ frmSchedInfo }} #}
            {# render_field frmMain.org hidden="true" #}
            <div class="card">
                <div class="card-header">
                    {{ frmSchedInfo.errors }}
                    <div class="container"><div class="row g-0">
                        <div class="col-1">Count Date</div>
                        <div class="col-2">Counter</div>
                        <div class="col-1">Priority</div>
                        <div class="col-3">Reason Scheduled</div>
                        <div class="col-2">CM Flag</div>
                        <div class="col-3">Notes</div>
                    </div></div>
                </div>
                <div class="card-body no-padding" style="height:70px; overflow: auto;">
                    <div class="row g-0">
                        {{ frmSchedInfo.id }} {# render_field frmSchedInfo.id hidden="true" #}
                        <div class="col-1">{% render_field frmSchedInfo.CountDate size="10" disabled=true %}</div>
                        <div class="col-2">{% render_field frmSchedInfo.Counter class="need-Matl-Dt" size="10" tabindex="-1" %}</div>
                        <div class="col-1">{% render_field frmSchedInfo.Priority class="need-Matl-Dt" size="10" tabindex="-1" %}</div>
                        <div class="col-3">{% render_field frmSchedInfo.ReasonScheduled class="need-Matl-Dt" size="30" tabindex="-1" %}</div>
                        <div class="col-1">{% render_field frmSchedInfo.CMPrintFlag class="need-Matl-Dt" tabindex="-1" %}</div>
                        <div class="col-3">{% render_field frmSchedInfo.Notes class="need-Matl-Dt" size="30" tabindex="-1" %}</div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>

    <!-- form footer -->
    <hr>
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-2">
                <button id="save_btn" type="button" form="CEForm" class="need-Matl-Dt" onclick="SubmMainFm();" >Save changes</button>
            </div>
            <div class="col-8">
                <button id="btn_firstrec" type="button" onclick="processGoToReq('First');">First</button>
                <button id="btn_prevrec"  type="button" onclick="processGoToReq('Prev');" >Prev</button>
                <button id="btn_nextrec"  type="button" onclick="processGoToReq('Next');" >Next</button>
                <button id="btn_lastrec"  type="button" onclick="processGoToReq('Last');" >Last</button>
                <button id="btn_newrec"   type="button" onclick="processGoToReq('New');"  >New</button>
                {% comment %}
                <!-- GoToCountRec to be removed - way too many pulls from db -->
                GoTo Count Rec # {% render_field gotoForm.gotoItem id="gotoID" style="width:7em" form="dummy1" onchange="processGoToReq();" %}
                {% endcomment %}
            </div>
            <div class="col-2">
                <button id="close_btn" type="button">Close Form</button>
            </div>
        </div>
    </div>


    <script>
        var $form = $('.trackformchanges');
        var thisRecNum = $('#RecPK').val();
        var ctdtID = $('#{{frmMain.CountDate.id_for_label}}');
        var orig_ctdt = ctdtID.val()
        var mtlnmID = $('#{{frmMain.Material.id_for_label}}');
        var orig_matl = mtlnmID.val()
        var initialState;
        var modalCloseCheckResult, modalCloseCheckClosed;
        // JAVASCRIPT DATES SUCK!!!!!!


        // expand this one day - this could be useful - Fix it first!!!
        function dtstr(dt = Date(), fmt = "YYYY-MM-DD HH:NN:SS")
        {
            dt = (dt == undefined) ? Date() : dt;   // how do I move dt to localtime??? - easy - by not introducing syntax errors!
            if (typeof(dt) == 'string') { dt = new Date(dt) }
            d_str = fmt
            d_str = d_str.replaceAll('YYYY',("0000"+dt.getFullYear()).slice(-4))
            d_str = d_str.replaceAll('MM',("00"+(dt.getMonth()+1)).slice(-2))
            d_str = d_str.replaceAll('DD',("00"+dt.getDate()).slice(-2))
            d_str = d_str.replaceAll('HH',("00"+dt.getHours()).slice(-2))
            d_str = d_str.replaceAll('NN',("00"+dt.getMinutes()).slice(-2))
            d_str = d_str.replaceAll('SS',("00"+dt.getSeconds()).slice(-2))
            // if new_dt = Date(d_str) is invalid, replace with dt.toString()
            return d_str
        }

        document.body.onload = function() {

            sCE();  // show calculated value of CTD_QTY

            // if this is an existing record, disable CountDate and Material; allowing those to change is just too much work
            if (thisRecNum > 0) {
                ctdtID.prop("readonly", true);
                mtlnmID.prop("readonly", true);
            }

            // turn off controls that need the Date and Material first
            $(".need-Matl-Dt").prop("disabled", !isValid_Date_Material());

            initialState = $form.serialize();

            }

        document.body.onbeforeunload = function() {
            document.getElementById("wait_spinner").style.display = "block";
            }

        document.getElementById("{{frmMain.CTD_QTY_Expr.id_for_label}}").addEventListener("onfocus",
            function(){ SkipCountIfLocationOnly(); });

        // later, duplicate this for closeform (see document.body.onbeforeunload)
        document.getElementById("close_btn").addEventListener("click",
            function(evobj){
                if (confirmLeave()) {
                    window.close()
                }
            });

        // I don't need to check for CtDt or Material exists since button is disabled if these are missing
        $("#SchedCount").on("click",
            function() {
                if (!isValid_Date()) {return;}
                else {
                    dVal = (new Date(ctdtID.val())).toISOString().substring(0,10)
                }

                R = 0   // not needed, since R=0 is hardcoded in the url below.  But this is good for documentation
                newRec = "{% url 'CountScheduleForm' 0 'passedMatlNum' 'passedCountDate' 'None' %}"
                newRec = newRec.replace("/passedMatlNum","/"+mtlnmID.val());
                newRec = newRec.replace("/passedCountDate","/"+dVal);
                window.open(newRec,'_blank')
            });

        function processGoToReq(goDir) {
            if (confirmLeave()) {
                loadCountEntryRec(goDir);
            }
        };

        // I'd like to use Bootstrap modals for this, but they're not really modal; they don't halt execution until dismissal
        /*
        document.getElementById('modalCloseCheck').addEventListener('hidden.bs.modal',
            function() {
               modalCloseCheckClosed = true;
            });
        */
        function confirmLeave(){
            if (isFormChanged()) {
                return confirm("This record has changed\nDo you really want to leave without saving?\n");
                // modalCloseCheckResult = false;
                // modalCloseCheckClosed = false;
                // $('#modalCloseCheck').modal();
                // while (!modalCloseCheckClosed) {
                //     // do nothing!
                //     } ;
                // alert(modalCloseCheckResult);
                // return modalCloseCheckResult;
            } else {
                return true;
            }
        };
        function isFormChanged() {
            return !(initialState === $form.serialize());
        };

        function sCE(){ showCountExpr('{{frmMain.CTD_QTY_Expr.id_for_label}}', 'EvalExpr'); };

// move to common???
        function showCountExpr(expr_fld, rslt) {
            document.getElementById(rslt).innerHTML = "= " + EvalExpr(document.getElementById(expr_fld).value);
        };

        function isValid_Date_Material() {
            return isValid_Date() && isValid_Material();
        }
        function isValid_Date() {
            let dVal;

            if (ctdtID.val().trim()=="") {
                return false;
            }

            try {
                dVal = new Date(ctdtID.val())
            }
            catch {
                return false;
            }
            return true;
        }
        function isValid_Material() {
            if (mtlnmID.val().trim()=="") {
                 return false;
            }

            let foundit = false;  i = 0;
            while (!foundit && (i < $("#Material-list").children().length)) {
                foundit = foundit || ($("#Material-list").children()[i].value==mtlnmID.val());
                i++;
            }

            return foundit;
        }

        function loadExtraInfo() {
            let dVal;

            if (!isValid_Date()) {
                alert(ctdtID.val() + " is not a valid date");
                ctdtID.focus();
                return;
            }
            else {
                dVal = (new Date(ctdtID.val())).toISOString().substring(0,10)
            }
            // if (typeof(dVal) == 'string') { dVal = new Date(dVal) };
            // dVal =  dtstr(dt = dVal, fmt = "YYYY-MM-DD")
            ctdtID.val(dVal)

            if (!isValid_Material()) {
                if (mtlnmID.val() != "") { alert(mtlnmID.val() + " is not a valid Material number"); }
                mtlnmID.focus();
                return;
            }

            newRec = "{% url 'CountEntryForm' 0 'passedCountDate' 'matl' %}"
            if (thisRecNum > 0) { newRec = newRec.replace("/0","/"+thisRecNum) };
            newRec = newRec.replace("passedCountDate",dVal)
            mNum="None"; if (mtlnmID.val() != "") {mNum = mtlnmID.val()}
            newRec = newRec.replace("/matl","/"+mNum)
            window.location = newRec;
        };
        function loadCountEntryRec(goDir) {
            if (!isValid_Date()) {return;}
            else {
                dVal = (new Date(ctdtID.val())).toISOString().substring(0,10)
            }

            /****
            {
                if (typeof(dVal) == 'string') { dVal = new Date(dVal) };
                dVal =  dtstr(dt = dVal, fmt = "YYYY-MM-DD")
            }
            *****/
            R = {{recNum}}
            if (R < 0) {R = 0};
            newRec = "{% url 'CountEntryFormGoto' 0 'passedCountDate' 'None' 'gotoCommand' %}"
            newRec = newRec.replace("/0","/"+R);
            newRec = newRec.replace("/passedCountDate","/"+dVal);
            newRec = newRec.replace("/gotoCommand","/"+goDir);
            window.location = newRec;
        };

        function SkipCountIfLocationOnly() {
            if ($("#{{frmMain.LocationOnly.id_for_label}}").val()) {
                $("#{{frmMain.CTD_QTY_Expr.id_for_label}}").attr('tabindex','-1');
            } else {
                $("#{{frmMain.CTD_QTY_Expr.id_for_label}}").removeAttr('tabindex');
            }
        };

        function SubmMainFm() {
            if ($("#{{ frmMain.BLDG.id_for_label }}").val()) {
                $("#CEForm").submit()
            } else {
                alert("Please enter a BLDG");
                $("#{{ frmMain.BLDG.id_for_label }}").focus();
            }
        }

    </script>
    <script>
        function create_empty_user() {
            var form_idx = $('#id_form-TOTAL_FORMS').val()
            // check against max-forms before allowing add
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx).replace("hidden",""))
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1)
        }
    </script>
{% endblock %}

