{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load evaluate_arithmetic %}
{% load static %}


{% block tTitle %}Count Scheduling{% endblock %}

{% block boddy %}
    <div class="container text-center mx-auto">
    <div class="row">
        <div class="col-10 fs-3">
            <u>{{ orgname }}</u>
            <br>Count Scheduling
        </div>
        <div class="col-2 text-end"> {{ uname }} </div>
    </div>
    <div class="row"> <!-- status messages -->
        <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
        {% if changes_saved.main %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                Count record {{ changes_saved.main }} successfully saved.
                ChData: {{ changed_data.main }}
            </div>
        {% endif %}
        {% if changes_saved.matl %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                Material changes for this record successfully saved.
                ChData: {{ changed_data.matl }}
            </div>
        {% endif %}
        {% if msgDupSched %}
            <div class="alert alert-danger p-0 alert-dismissible fade show">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>            
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                {{ msgDupSched }}
            </div>
        {% endif %}
    </div><!-- row -->
    </div><!-- container -->
    <hr>

    {{ recNum }}
    <input type="hidden" id="thisRecNum" value="{{recNum}}">

    <form id="CSchForm" class="trackformchanges" method="post">
        {% csrf_token %}
        <!-- form header -->
        {{ frmMain.errors }}
        {{ frmMain.id }}

        <!-- main part of form -->
        <!-- put initial focus on Material and/or init CountDate to today(local), skip CycCtID -->
        <div class="container-fluid m-2">
        <div class="row g-0">
            <div class="col-2">Count Dt: {% render_field frmMain.CountDate type="date" tabindex="-1" size="8" onchange="loadExtraInfo();" %}</div>
            <div class="col-4">Material:
                {# {% render_field frmMain.Material onchange="loadExtraInfo()" %}</div> #}
                <input list="Material-list"
                    id="{{frmMain.Material.id_for_label}}" name="{{frmMain.Material.html_name}}"
                    tabindex="1" autofocus
                    onfocus="$(this).select();"
                    onchange="loadExtraInfo();"
                    value="{{matlchoiceForm.gotoItem.Material}}"
                    required
                    style="width:18em;">
                <span class="bi-caret-down-square"
                    style="position:relative;top:+0px;font-size:20px;left:-30px;"
                    tabindex = "-1"
                    onclick="$('#{{frmMain.Material.id_for_label}}').focus();">
                </span>
                <datalist id="Material-list">
                    {% for itm in matlchoiceForm.choicelist %}
                        <option value="{{itm.Material}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-3">Counter: {% render_field frmMain.Counter class="need-Matl-Dt" size="12" %}</div>
        </div>
        <div class="row g-0">
            <div class="col-3">Priority: {% render_field frmMain.Priority class="need-Matl-Dt" size="10" %}</div>
            <div class="col-6">Reason Scheduled: {% render_field frmMain.ReasonScheduled class="need-Matl-Dt" size="35" %}</div>
            <div class="col-2">CM Print? {% render_field frmMain.CMPrintFlag class="need-Matl-Dt" %}</div>
        </div>
        <div class="row g-0">
            <div class="col-6">Schedule Notes: {% render_field frmMain.Notes class="need-Matl-Dt" size="60" %}</div>
        </div>
        <hr>
        <div class="row g-0">
            Material Info
        </div>
        <div class=row g-0>
            {{ MaterialID }} <input type="hidden" name="MaterialID" value="{{MaterialID}}">
            <div class="col-5">Description: {% render_field frmMatl.Description class="need-Matl-Dt" size="50" tabindex="-1" %}</div>
            <div class="col-2">Part Type: {% render_field frmMatl.PartType class="need-Matl-Dt" style="width:7em" tabindex="-1" %}</div>
            <div class="col-4">
                Typ Container Qty: {% render_field frmMatl.TypicalContainerQty class="need-Matl-Dt" style="width:7em" tabindex="-1" %}
                Typ Plt Qty: {% render_field frmMatl.TypicalPalletQty class="need-Matl-Dt" style="width:7em" tabindex="-1" %}
            </div>
        </div>
        <div class=row g-0>
            <div class="col-12">Material Notes: {% render_field frmMatl.Notes size="100" class="need-Matl-Dt" tabindex="-1" %}</div>
        </div>
        </div>  <!-- container-fluid, on same level with rows -->
    </form>

    <!-- form footer -->
    <hr>
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-2">
                <button id="save_btn" type="button" form="CSchForm" class="need-Matl-Dt" onclick="SubmMainFm();" >
                    <img src="{% static 'poem-poetry-icon.svg' %}" width="20" height="20"></img>
                    Save changes
                </button>
            </div>
            <div class="col-8">
                <button id="btn_firstrec" type="button" onclick="processGoToReq('First');">First</button>
                <button id="btn_prevrec"  type="button" onclick="processGoToReq('Prev');" >Prev</button>
                <button id="btn_nextrec"  type="button" onclick="processGoToReq('Next');" >Next</button>
                <button id="btn_lastrec"  type="button" onclick="processGoToReq('Last');" >Last</button>
                <button id="btn_newrec"   type="button" onclick="processGoToReq('New');"  >New</button>
            </div>
            <div class="col-2">
                <button id="close_btn" type="button">
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>


    <script>
        var $form = $('.trackformchanges');
        var ctdtID = $('#{{frmMain.CountDate.id_for_label}}');
        var orig_ctdt = ctdtID.val()
        var mtlnmID = $('#{{frmMain.Material.id_for_label}}');
        var orig_matl = mtlnmID.val()
        var initialState;
        var thisRecNum = $("#thisRecNum").val();

        // JAVASCRIPT DATES SUCK!!!!!!

        // expand this one day - this could be useful - Fix it first!!!
        function dtstr(dt = Date(), fmt = "YYYY-MM-DD HH:NN:SS")
        {
            dt = (dt == undefined) ? Date() : dt;   // how do I move dt to localtime??? - easy - by not introducing syntax errors!
            if (typeof(dt) == 'string') { dt = new Date(dt) }
            d_str = fmt
            d_str = d_str.replaceAll('YYYY',("0000"+dt.getFullYear()).slice(-4))
            d_str = d_str.replaceAll('MM',("00"+(dt.getMonth()+1)).slice(-2))
            d_str = d_str.replaceAll('DD',("00"+dt.getDate()).slice(-2))
            d_str = d_str.replaceAll('HH',("00"+dt.getHours()).slice(-2))
            d_str = d_str.replaceAll('NN',("00"+dt.getMinutes()).slice(-2))
            d_str = d_str.replaceAll('SS',("00"+dt.getSeconds()).slice(-2))
            // if new_dt = Date(d_str) is invalid, replace with dt.toString()
            return d_str
        }

        document.body.onload = function() {

            // if this is an existing record, disable CountDate and Material; allowing those to change is just too much work
            // nope, it's OK now
            if (thisRecNum > 0) {
                // ctdtID.prop("disabled", true);
                // mtlnmID.prop("disabled", true);
            }

            // turn off controls that need the Date and Material first
            $(".need-Matl-Dt").prop("disabled", !isValid_Date_Material());

            initialState = $form.serialize();

            }

        document.body.onbeforeunload = function() {
            document.getElementById("wait_spinner").style.display = "block";
            }

        // later, duplicate this for closeform (see document.body.onbeforeunload)
        document.getElementById("close_btn").addEventListener("click",
            function(evobj){
                if (confirmLeave()) {
                    window.close()
                }
            });

        function processGoToReq(goDir) {
            if (confirmLeave()) {
                loadCountEntryRec(goDir);
            }
        };

        // I'd like to use Bootstrap modals for this, but they're not really modal; they don't halt execution until dismissal
        /*
        document.getElementById('modalCloseCheck').addEventListener('hidden.bs.modal',
            function() {
               modalCloseCheckClosed = true;
            });
        */
        function confirmLeave(){
            if (isFormChanged()) {
                return confirm("This record has changed\nDo you really want to leave without saving?\n");
                // modalCloseCheckResult = false;
                // modalCloseCheckClosed = false;
                // $('#modalCloseCheck').modal();
                // while (!modalCloseCheckClosed) {
                //     // do nothing!
                //     } ;
                // alert(modalCloseCheckResult);
                // return modalCloseCheckResult;
            } else {
                return true;
            }
        };
        function isFormChanged() {
            return !(initialState === $form.serialize());
        };

// move to common???
        function showCountExpr(expr_fld, rslt) {
            document.getElementById(rslt).innerHTML = "= " + EvalExpr(document.getElementById(expr_fld).value);
        };

        function isValid_Date_Material() {
            return isValid_Date() && isValid_Material();
        }
        function isValid_Date() {
            let dVal;

            if (ctdtID.val().trim()=="") {
                return false;
            }

            try {
                dVal = new Date(ctdtID.val())
            }
            catch {
                return false;
            }
            return true;
        }
        function isValid_Material() {
            if (mtlnmID.val().trim()=="") {
                 return false;
            }

            let foundit = false;  i = 0;
            while (!foundit && (i < $("#Material-list").children().length)) {
                foundit = foundit || ($("#Material-list").children()[i].value==mtlnmID.val());
                i++;
            }

            return foundit;
        }

        function loadExtraInfo() {
            let dVal;

            if (!isValid_Date()) {
                alert(ctdtID.val() + " is not a valid date");
                ctdtID.focus();
                return;
            }
            else {
                dVal = (new Date(ctdtID.val())).toISOString().substring(0,10)
            }
            // if (typeof(dVal) == 'string') { dVal = new Date(dVal) };
            // dVal =  dtstr(dt = dVal, fmt = "YYYY-MM-DD")
            ctdtID.val(dVal)    // this sets ctdtID.val to dVal

            if (!isValid_Material()) {
                if (mtlnmID.val() != "") { alert(mtlnmID.val() + " is not a valid Material number"); }
                else { alert("Please choose a valid Material number")}
                mtlnmID.focus();
                return;
            }

            newRec = "{% url 'CountScheduleForm' 'passedCountDate' 'passedMatlNum' %}"  // gotoCommand = None
            newRec = newRec.replace("passedCountDate",dVal)
            mNum="None"; if (mtlnmID.val() != "") {mNum = mtlnmID.val()}
            newRec = newRec.replace("/passedMatlNum","/"+mNum)
            window.location = newRec;
        };
        function loadCountEntryRec(goDir) {
            let dVal;
            if (!isValid_Date()) {return;}
            else {
                dVal = (new Date(ctdtID.val())).toISOString().substring(0,10)
            }

            if (typeof(goDir)=="number") {
                R = $("#sel_gotorec").val()
                goCmd = 'None'
            } else {
                R = thisRecNum
                if (R < 0) {R = 0};
                goCmd = goDir
            }
            newRec = "{% url 'CountScheduleFormGoto' 'gotoCommand' %}"
            newRec = newRec.replace("/gotoCommand","/"+goCmd);
            window.location = newRec;
        };

        function SubmMainFm() {
            // enable CountDate and Material so they'll be send back with the form
            ctdtID.prop("disabled", false);
            mtlnmID.prop("disabled", false);
            $("#CSchForm").submit();
        }

    </script>
{% endblock %}

