{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load evaluate_arithmetic %}
{% load static %}

{% block tTitle %}Part Types{% endblock %}

{% block boddy %}
<div class="container text-center mx-auto">
<div class="row">
    <div class="col-10 fs-1">
        <u>{{ orgname }}</u>
    </div>
    <div class="col-2 text-end"> {{ uname }} </div>
</div>
<div class="row"> <!-- status messages -->

    <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>

    {% if changes_saved.main %}
        <div class="alert alert-success p-0 alert-dismissible fade show">
            <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
            This Material record successfully saved.
            ChDat: {{ changed_data.main }}
        </div>
    {% endif %}
    {% if changes_saved.matl %}
        <div class="alert alert-success p-0 alert-dismissible fade show">
            <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
            Count changes for this Material record successfully saved.
            ChDat: {{ changed_data.matl }}
        </div>
    {% endif %}
</div>
</div>
<hr>

. {{ showID }}

<!-- GoTo -->
<form id="gotoForm" method="get" action="{% url 'ReloadPTypForm' showID %}">
<div class="container text-center bg-secondary">
    <div class="row mx-auto max-width=95%">
        <div class="col mx-auto">
            <h1><label for="gotoID">GoTo Part Type</label>
            <input list="PTyp-list" id="gotoID" name="gotoID" onfocus="$(this).select();" onchange="processGoToRec();" value="{{gotoForm.gotoItem.WhsePartType}}">
            <span class="bi-caret-down-square" style="position:relative;top:+0px;font-size:45px;left:-59px;" onclick="$gotoTextBox.focus();"></span>
            </h1>
            <datalist id="PTyp-list">
                {% for itm in gotoForm.choicelist %}
                    <option value="{{itm.WhsePartType}}">
                {% endfor %}
            </datalist>
            <input type="hidden" id="realGotoID" name="realGotoID"></input>
        </div>
    </div>
</div>
</form>

<form id="FmMain" class="trackformchanges" method="post">
    {% csrf_token %}
    <!-- form header -->
    {{ frmMain.errors }}
    {#     {% render_field frmMain.org hidden="true" %} #}
    <hr>

    <!-- main part of form -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                Part Type:  {% render_field frmMain.WhsePartType %}
                PartTypePriority: {% render_field frmMain.PartTypePriority %}
                InactivePartType? {% render_field frmMain.InactivePartType %}
            </div>
        </div>
    </div>
    <hr>

    <!-- subforms -->
    <div class="container-fluid active" id="Materials">
        <div class="card">
            <div class="card-header">
                {{ materials.management_form }}
                {{ materials.errors|default:'' }}
                <br>
                <div class="container"><div class="row">
                ..... 
                <div class="col-2">Material</div>
                <div class="col-2">PartType</div>
                <div class="col-3">Price / PriceUnit</div>
                <div class="col-3">TypeContQty / TypePltQty</div>
                </div></div>
            </div>
            <div class="card-body no-padding" style="height:210px; overflow: auto;">
                <ul>
                {% for ff in materials %}
                <li>
                <div class="row">
                    {{ ff.id }}{{ff.id.value }}
                    {% render_field ff.org hidden="true" %}
                    <div class="col-2">{% render_field ff.Material %}</div>
                    <div class="col-2">
                        {# PartType {% render_field ff.PartType type="select" %} #}
                        {# I want users to be able to edit the PartType, if necessary.  Since it's the ForeignKey field, I must render it myself #}
                        <select type="select"
                            id="{{ff.PartType.id_for_label}}" name="{{ff.PartType.html_name}}"
                            tabindex="-1" 
                            value="{{ff.PartType.value}}"
                            style="width:10em;">
                            {% for itm in gotoForm.choicelist %}
                                <option value="{{itm.id}}"{% if itm.id == ff.PartType.value %} selected{% endif %}>{{itm.WhsePartType}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3"> {% render_field ff.Price style="width:6em;" %}  {% render_field ff.PriceUnit style="width:6em;" %} </div>
                    <div class="col-3"> {% render_field ff.TypicalContainerQty style="width:6em;" %}  {% render_field ff.TypicalPalletQty style="width:6em;" %} </div>
                </div>
                <div class="row">
                    ... 
                    <div class="col-5">Desc: {% render_field ff.Description size="50" %}</div>
                    <div class="col-5">Notes: {% render_field ff.Notes size="50" %}</div>
                </div>
            </li>
                {% endfor %}
            </ul>
            </div>
            <div class="card-footer no-padding">
                Add Material
                Remove (per Material) - really??
            </div>
        </div>
    </div>
    
    <!-- form footer -->
    <br>
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-3">
                <button id="save_btn" type="submit">
                    <img src="{% static 'poem-poetry-icon.svg' %}" width="20" height="20"></img>
                    Save changes
                </button>
            </div>
            <div class="col-7">
                Add Part Type
                Remove Part Type
            </div>
            <div class="col">
                <button id="close_btn" type="button">
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>
</form>

<!-- Modal to check for dismissal of dirty record -->
<div class="modal-sm fade" id="modalCloseCheck" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Record Changed!</h4>
        </div>
        <div class="modal-body" id="dismissal_question">
        </div>
        <div class="modal-footer">
        <form>
            <fieldset>
            <button type="button" class="btn btn-default" name="leaveForm" value="false" data-dismiss="modal">No</button>
            <button type="button" class="btn"             name="leaveForm" value="true"  data-dismiss="modal">Yes, abandon changes</button>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
        </div>
    </div>
</div>
{% comment %}
<div id="get-MenuID-dialog" title="New Menu Group/ID">
    <form>
        <fieldset>
            <label for="NewMnuGroup">Menu Group</label>
            <input type="number" name="NewMnuGroup" id="NewMnuGroup" class="text ui-widget-content ui-corner-all">
            <label for="NewMnuID">Menu ID</label>
            <input type="number" name="NewMnuID" id="NewMnuID" class="text ui-widget-content ui-corner-all">
    
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<!-- generalize this one day ... -->
<div id="yesno-dialog" title="Are You Sure?">
    <div id="yesno-dialog-text"></div>
</div>
{% endcomment %}    

<script>
    var $forms = $(".trackformchanges");
    var initialState
    var $gotoTextBox = $("#gotoID");
    // record the ID and GPN of current record (it's used often!)
    // var thisMtlID = {{frmMain.showPK.value}}, thisMtlGPN = "{{frmMain.Material.value}}"
    var modalCloseCheckResult, modalCloseCheckClosed;

    const mapPartTypes = new Map();
    {% for PT in gotoForm.choicelist %}
        mapPartTypes.set('{{PT.WhsePartType}}', {{PT.id}})
    {% endfor %}

    $(document).ready(function() {
        initialState = $forms.serialize();
        });
    document.body.onbeforeunload = function() {
        document.getElementById("wait_spinner").style.display = "block";
        }

    // later, duplicate this for closeform (see document.body.onbeforeunload)
    document.getElementById("close_btn").addEventListener("click",
        function(evobj){
            confirmLeave(closeform)
        });

    // because Bootstrap "modals" aren't really modal, execution must transfer to the modal, then wait until the modal triggers an answering function
    function processGoToRec() {
        confirmLeave(loadMaterialRec)
    };
    function leavequestion_chosen() {
        var leeve = $("#idCloseCheck").find( "form" ).find("[name='leaveForm']").val()
        if (leeve) {
            fn_postclosecheck();
        }
    }
    $("#idCloseCheck").find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        leavequestion_chosen();
    });
    function isFormChanged() {
        currState = $forms.serialize();
        return !(initialState === currState);
    };
    function confirmLeave(postclose_fn){
        fn_postclosecheck = postclose_fn
        if (isFormChanged()) {
            document.getElementById("dismissal_question").innerHTML = "This record has changed<br>Do you really want to leave without saving?"
            $('#modalCloseCheck').modal();
        } else {
            fn_postclosecheck();
        }
    };

    // to become obsolete??
    function loadMaterialRec() {
        var realID;
        realID = mapPartTypes.get($gotoTextBox.val())
        document.getElementById("realGotoID").value = realID
        document.getElementById("gotoForm").submit()
    };
    function closeform() {
        window.close()
    }

    $("#SchedCount").on("click",
    function() {
        dVal = (new Date()).toISOString().substring(0,10)
        R = 0   // not needed, since R=0 is hardcoded in the url below.  But this is good for documentation
        
        newRec = "{% url 'CountScheduleForm' 0 'passedMatlNum' 'passedCountDate' 'None' %}"
        newRec = newRec.replace("/passedMatlNum","/"+thisMtlGPN);
        newRec = newRec.replace("/passedCountDate","/"+dVal);
        window.open(newRec,'_blank')
    });

</script>
<script>
    function create_empty_user() {
        var form_idx = $('#id_form-TOTAL_FORMS').val()
        // check against max-forms before allowing add
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx).replace("hidden",""))
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1)
    }
</script>
{% endblock %}

