{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{# {% load evaluate_arithmetic %} #}
{% load static %}

{% block tHeader %}
{{ block.super }}
<style>
button:focus {
    border-color:#9ecaed;   <!-- convert to rgba -->
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8);
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    // font-size: 0.8rem;
}
td,
th {
  border: 1px solid;
  padding: 5px 10px;
}
thead,
tfoot {
  background-color: #3f87a6;
  color: #fff;
}

</style>
{% endblock %}

{% block tTitle %}Manufacturer PN Lookup{% endblock %}

{% block boddy %}
<div class="container text-center mx-auto">
<div class="row">
    <div class="col-10 fs-2">
        <img src={% static 'WICS-Logo.png' %} width="150" height="75">
    </div>
    <div class="col-2 text-end"> {{ user.get_full_name }} </div>
</div>
<div class="row"> <!-- status messages -->
    <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</div>
<hr>
{% comment %}
{#######  implement later #######}
<!-- GoTo -->
<!-- <form id="gotoForm"> -->
<div class="container text-center bg-secondary">
    <div class="row mx-auto max-width=95%">
        <div class="col mx-auto">
            <h1><label for="gotoID">GoTo Material #</label>
        </h1>
        </div>
    </div>
</div>
<!-- </form> -->
{% endcomment %}

<div class="container">
<form id="FrmMain">
{% if MPNList %}
<table id="MPNtable" class="" {# style="width:100%" #}>
    <thead>
        <tr>
            <th scope="col">MPN</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Material</th>
            <th scope="col">Description</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% endif %}
    {% for MPN in MPNList %}
        <tr>
            {{ MPN.id }}
            <td scope="col">{{MPN.MfrPN}}</td>
            <td scope="col">{{MPN.Manufacturer}}</td>
            <td scope="col" style="width:20%;">
                <input list="Material-list" id="{{MPNList.prefix}}-{{forloop.counter0}}-MatlNum" name="{{MPNList.prefix}}-{{forloop.counter0}}-MatlNum" onfocus="$(this).select();" onchange="changeMatl('{{MPN.Material.auto_id}}');"{% if MPN.instance.id %} value="{{MPN.instance.Material.Material}}{% endif %}">
                <span class="bi-caret-down-square" style="position:relative;top:+1px;font-size:20px;left:-30px;"></span> {# onclick="$gotoTextBox.focus();"></span> #}
                <input type="hidden" 
                    id="{{MPN.Material.auto_id}}" 
                    name="{{MPN.Material.html_name}}"  
                    {% if MPN.instance.id %} value="{{MPN.Material.value}}"{% endif %}
                ></input>
            </td>
            <td scope="col">{% if MPN.instance.id %}{{MPN.instance.Material.Description}}{% endif %}</td>
            <td scope="col">{{MPN.Notes|default:'---'}}</td>
            <td scope="col" style="width:20%">
                {% if MPN.instance.id %}    {# is this an existing record or an extra? #}
                <button type="button" onclick="delMPN({{MPN.id.value}})">
                    Delete
                </button>
                <button type="button" onclick="showMatl('{{MPN.Material.auto_id}}')">
                    Show Matl Rec
                </button>
                {% endif %}
            </td>
        </tr>
{% empty %}
    <h3>No Manufacturer Part Numbers in WICS</h3>
{% endfor %}
    {% if MPNList %}
    </tbody>
</table>
{% endif %}
<datalist id="Material-list">
    {% for itm in gotoForm.choicelist %}
        <option value="{{itm.Material_org}}">
    {% endfor %}
</datalist>
</form>
</div>
    <!-- form footer -->
    <br>
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-3">
                <button id="save_btn" type="button" {# "submit" form="FrmMain" #} {% if userReadOnly %}disabled{%endif%}>
                    <img src="{% static 'poem-poetry-icon.svg' %}" width="20" height="20"></img>
                    Save/Add changes
                </button>
            </div>
            <div class="col-7">
            </div>
            <div class="col">
                <button id="close_btn" type="button">
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>
</form>

<div id="modalGeneric" class="modal">
</div>

<script>
// set up MatlMap for verifying if an entered Material # is valid
var MatlMap = new Map([
    {% for itm in gotoForm.choicelist %}
    ['{{itm.Material_org}}', {{itm.id}}],
    {% endfor %}
    ]);

//------------------

function start_wait_spinner() { document.getElementById("wait_spinner").style.display = "block"; };
function stop_wait_spinner() { document.getElementById("wait_spinner").style.display = "none"; };

//------------------

document.addEventListener("DOMContentLoaded", function() {
});

window.addEventListener("beforeunload",  function(event) {
    start_wait_spinner();
});

//---------------

function YesCloseIt() {
    window.close();
};

//---------------

function changeMatl(recnum) {

};

//---------------

function loadMaterialRec() {
    goID = $gotoTextBox
    if (goID.value != null && goID.value != thisMtlGPN) {
        newRec="{% url 'MatlFormRecNum' 0 %}"
        newRec = newRec.replace("/0","/"+MatlMap.get(goID.value));
        start_wait_spinner();
        window.location = newRec;
    } else {
        goID.value = thisMtlGPN;
    }
};

//---------------

//TODO: later, duplicate this for closeform (see document.body.onbeforeunload)
document.getElementById("close_btn").addEventListener("click",
    function(evobj){
        window.close();
    });

//-------------------

function isValid_Material() {
    if ($gotoTextBox.value.trim()=="") {
            return false;
    } else {
        return MatlMap.has($gotoTextBox.value);
    }

}

//------------------

function processGoToReq() {
    if (!isValid_Material()) {
        if ($gotoTextBox.value != "") {
            $("#modalGeneric").dialog("option","title","Invalid Material");
            document.getElementById("modalGeneric").innerHTML = $gotoTextBox.value + " is not a valid Material number"

            $("#modalGeneric").dialog("option","buttons",
                {
                    "OK" : function() {
                        $(this).dialog("close"); }
                } );
            $("#modalGeneric").dialog("open");
            }
        $gotoTextBox.focus();
        return;
    }
    confirmLeave(loadMaterialRec);
};

function isFormChanged() {
    currState = serialize($forms);
    return !(initialState === currState);
};

function confirmLeave(LeaveProc){
    if (isFormChanged()) {
        $("#modalGeneric").dialog("option","title","Leave Record?");
        document.getElementById("modalGeneric").innerHTML = "This record has changed<br>Do you really want to leave without saving?"

        $("#modalGeneric").dialog("option","buttons",
            {
                "Yes": function() {
                    LeaveProc();
                    $(this).dialog("close"); },
                "No" : function() {
                    $(this).dialog("close"); }
            } );
        $("#modalGeneric").dialog("open");
    } else {
        LeaveProc();
    }
};

//------------------

// handle Modal
$("#modalGeneric").dialog({
    autoOpen: false,
    closeOnEscape: false,
    modal: true,
    hide: "puff",
    position: {
        my: "top center", at: "top center"
    }
});


//------------------

function delMPN(MPNid) {

}

function showMatl(Material_id) {

}

</script>
{% endblock %}
