{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}

{% block customCSS %}
{% include "proposed-table-CSS.css" %}
{% endblock %}

{% block tTitle %}{{rptName}}{% endblock %}
{% block formName %}
    <div class="fs-4">{{rptName}}</div>
    SAP Date = {{ SAPDate }}
{% endblock %}

{% block boddy %}
<!-- header row -->
<hr>
{% if groupBy != 'PartType' %}
<table id="mainReport"style="height:450px; margin:1%;">
    <thead>
    <tr>
        <td></td>
        <td>org / Material</td>
        <td>Part Type</td>
        <td>Last Counted</td>
        <td>Last Found At</td>
        <td>SAP Qty</td>
        <td>Total Value</td>
        <td>Unit Value</td>
        <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
{% else %}
<div id="mainReport" class="container" style="height:450px; margin:1%; overflow-y:auto; overflow-x:hidden;">
{% endif %}
    {% for itm in MatlList %}
        {% if groupBy == 'PartType' %}
            {% ifchanged itm.PartType %}
                {% if not forloop.first %}
                    </table>
                {% endif %}
                <h3>Part Type <u>{{ itm.PartType }}</u></h3>
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td>org / Material</td>
                        <td>Part Type</td>
                        <td>Last Counted</td>
                        <td>Last Found At</td>
                        <td>SAP Qty</td>
                        <td>Total Value</td>
                        <td>Unit Value</td>
                        <td>&nbsp;</td>
                    </tr>
                    </thead>
                    <tbody>
            {% endifchanged %}
        {% endif %}
        <tr>
            <td>{{ itm.id }}</td>
            <td>{{ itm.org }} {{ itm.Material }}</td>
            <td>{{ itm.PartType }}</td>
            <td> 
                {% if itm.LastCountDate|date:"Y-m-d" == '0001-01-01' %}
                {# A date of 0001-01-01 is secret code for no date #}
                {% else %}
                    {{ itm.LastCountDate }}
                {% endif %}
            </td>
            <td>{{ itm.LastFoundAt }}</td>
            <td>
                {% if itm.SAPQty %}
                    {{ itm.SAPQty|floatformat:"1" }}
                {% else %}
                    <b>No SAP Qty</b>
                {% endif %}
            </td>
            <td>{{ itm.SAPValue|floatformat:"2g" }} {{ itm.SAPCurrency }}</td>
            <td>{{ itm.UnitValue|floatformat:"2g"}}</td>
            <td rowspan=2>
                {% if itm.ScheduledForToday %}
                    <b>SCHEDULED FOR COUNT TODAY</b>
                {% endif %}
                {% if itm.NextScheduledCount %}
                    {% if itm.ScheduledForToday %}<br>{% endif %}
                    Next Sched Count: {{ itm.NextScheduledCount }}
                {% endif %}
                {% if itm.NextScheduledCount or itm.NextScheduledCount %}<br>{% endif %}
                <button id="SchedCt{{ itm.id }}" class="SchedCt" value="{{ itm.id }}" type="button">Schedule<br>Count</button>
            </td>
        </tr>
        {% if itm.Notes %}
            <tr><td></td><td colspan=7>
                <b>Notes:</b> {{ itm.Notes }}
            </td></tr>
        {% endif %}
        <tr style="border-bottom:thin solid">
            <td></td>
            <td colspan=7><span class="calvin-smalltext">{{ itm.Description }}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if groupBy == 'PartType' %}
</div>
{% endif %}

<!-- form footer -->
<hr>
<div class="container">
    <div class="row mx-auto max-width=100%">
        <div class="col-1"></div>
        <div class="col-2">
            <button id="download_btn" type="button" class="d-print-none btn btn-light btn-outline-secondary">
                <a href="{% static ExcelFileName %}" download>
                    D/L sprdsht
                </a>
            </button>
        </div>
        <div class="col-4"></div>
        <div class="col-2">
            <button id="swap_prt_disp_btn" type="button" onclick="swap_prt_disp();">Print Version</button>
        </div>
        <div class="col-2">
            <button
                id="close_btn"
                type="button"
                onclick="window.close();">
                <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                Close Form
            </button>
        </div>
    </div>
</div>

<script>
    var mainscroll = "height:350px; overflow-y:auto; overflow-x:hidden;"

    function swap_prt_disp() {
        // remove scroll from mainReport so it can be printed or put it back for a scrolling window
        let scrollval = $("#mainReport").attr("style");
        if (scrollval==undefined) {
            $("#mainReport").attr("style",mainscroll)
            $("#swap_prt_disp_btn").html("Print Version")
        } else {
            $("#mainReport").removeAttr("style")
            $("#swap_prt_disp_btn").html("Display Version")
        }
    }

    $(".SchedCt").on("click",
        function() {
            dVal = (new Date()).toISOString().substring(0,10)

            newRec = "{% url 'CountScheduleForm' 0 'passedCountDate' 'passedMatlNum' %}"
            newRec = newRec.replace("/passedMatlNum","/"+this.value);
            newRec = newRec.replace("/passedCountDate","/"+dVal);
            window.open(newRec,'_blank')
        });


</script>

{% endblock %}