{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}

{% block tTitle %}Upload CountEntry Results{% endblock %}
{% block formName %}Upload CountEntry Results{% endblock %}

{% block boddy %}
    {% csrf_token %}
    <h4>
        {{ ResultStats.nRowsRead }} spreadsheet rows read <br>
        {{ ResultStats.nRowsNoMaterial }} rows skipped (no Material given or WICSIgnore set) <br> 
        {{ ResultStats.nRowsErrors }}  rows with errors <br>
        {{ ResultStats.nRowsAdded }} Count Entry records successfully uploaded <br>
    </h4>

    <ul>
    {% for res in UplResults %}
        <li>
    {% comment %}
    errState = models.CharField(max_length=100, null=True)
    errmsg = models.CharField(max_length=512, null=True)
    rowNum = models.IntegerField(null=True)
    {% endcomment %}
            Sprsht row {{ res.rowNum }}, 
            {% if 'error' not in res.errState %}
                {% comment %}
                Count Record {{ res.id }}: {{ res.CountDate|date:'Y-m-d '}} | {{ res.MaterialNum }} |
                    {{ res.Counter }} | {{ res.LOCATION }} |
                    {% if res.LocationOnly %}LOCATION ONLY{% else %}{{res.CTD_QTY_Expr }}{% endif %} 
                    added
                {% endcomment %}
                Count Record {{ res.errmsg }} added
            {% else %}
                <b>{{ res.errState }}: {{ res.errmsg }}</b>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <!-- form footer -->
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-4"></div>
            <div class="col-6"></div>
            <div class="col">
                <button id="close_btn" type="button" onclick="window.close();" >
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>
    
    <script>
        $( document ).ready(function() {
            const formdata = new FormData();
            formdata.append('phase', 'resultspresented')
            csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
                type: 'POST', 
                data: formdata,
                headers: {'X-CSRFToken': csrftoken},
                processData: false, 
                contentType: false, 
                success: function(data) {}
                });

            // announce the results
            speak("Your Count Entries are Uploaded."
                + "  {{ ResultStats.nRowsRead }} spreadsheet rows were read."
                + "  {{ ResultStats.nRowsNoMaterial }} rows were skipped."
                + "  There were {{ ResultStats.nRowsErrors }} rows with errors."
                + "  {{ ResultStats.nRowsAdded }} Count Entry records were successfully uploaded."
            );
        });    

    </script>

{% endblock %}
