{% extends "WICS_common.html" %}
{% load widget_tweaks %}

{% block tTitle %}Upload SAP File{% endblock %}

{% block boddy %}
    <div class="container text-center mx-auto">
    <div class="row">
        <div class="col-10 fs-1">
            <u>{{ orgname }}</u>
        </div>
        <div class="col-2 text-end"> {{ uname }} </div>
    </div>
    <div class="row"> <!-- status messages -->
        <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
    </div>
    </div>
    <hr>

    {{ form.errors }}
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_field form.org hidden="true" %}
        <p>{{ form.uploaded_at }}</p>
        <p>{{ form.SAPFile }}</p>
        <p>{{ form.Notes }}</p>

        <!-- form footer -->
        <div class="container">
            <div class="row mx-auto max-width=100%">
                <div class="col-4">
                    <button id="save_btn" type="submit">Upload</button>
                </div>
                <div class="col-6"></div>
                <div class="col">
                    <button id="close_btn" type="button">Close Form</button>
                </div>
            </div>
        </div>

  </form>

    <script>

        // expand this one day - this could be useful
        function dtstr(dt, fmt = "YYYY-MM-DD HH:NN:SS")
        {
            dt = (dt == undefined) ? new Date() : dt;   // how do I move dt to localtime??? - easy - by not introducing syntax errors!
            d_str = fmt
            d_str = d_str.replaceAll('YYYY',("0000"+dt.getFullYear()).slice(-4))
            d_str = d_str.replaceAll('MM',("00"+(dt.getMonth()+1)).slice(-2))
            d_str = d_str.replaceAll('DD',("00"+dt.getDate()).slice(-2))
            d_str = d_str.replaceAll('HH',("00"+dt.getHours()).slice(-2))
            d_str = d_str.replaceAll('NN',("00"+dt.getMinutes()).slice(-2))
            d_str = d_str.replaceAll('SS',("00"+dt.getSeconds()).slice(-2))
            // if new_dt = Date(d_str) is invalid, replace with dt.toString()
            return d_str
        }
        document.getElementById("id_uploaded_at").value = dtstr()   // find a way to use {{form.uploaded_at.id}}
        // document.getElementById("id_uploaded_at").value = new Date().toLocaleTimeString()   // find a way to use {{form.uploaded_at.id}}

        document.body.onbeforeunload = function() {
            document.getElementById("wait_spinner").style.display = "block";
            }

        document.getElementById("close_btn").addEventListener("click",
            function(){
                window.close();
            });

    </script>

{% endblock %}