{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load evaluate_arithmetic %}
{% load static %}

{% block tHeader %}
{{ block.super }}
<style>
button:focus {
    border-color:#9ecaed;   <!-- convert to rgba -->
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8); 
}
</style>
{% endblock %}

{% block tTitle %}Materials{% endblock %}

{% block boddy %}
<div class="container text-center mx-auto">
<div class="row">
    <div class="col-10 fs-2">
        <img src={% static 'WICS-Logo.png' %} width="200" height="100">
    </div>
    <div class="col-2 text-end"> {{ user.get_full_name }} </div>
</div>
<div class="row"> <!-- status messages -->

    <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if changes_saved.main %}
        <div class="alert alert-success p-0 alert-dismissible fade show">
            <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
            This Material record successfully saved.
            ChDat: {{ changed_data.main }}
        </div>
    {% endif %}
    {% if changes_saved.counts %}
        <div class="alert alert-success p-0 alert-dismissible fade show">
            <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
            Count changes for this Material record successfully saved.
            ChDat: {{ changed_data.counts }}
        </div>
    {% endif %}
    {% if changes_saved.schedule %}
        <div class="alert alert-success p-0 alert-dismissible fade show">
            <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
            Count Schedule changes for this Material record successfully saved.
            ChDat: {{ changed_data.schedule }}
        </div>
    {% endif %}

</div>
</div>
<hr>

{{ frmMain.showPK.value }}

<!-- GoTo -->
<!-- <form id="gotoForm"> -->
<div class="container text-center bg-secondary">
    <div class="row mx-auto max-width=95%">
        <div class="col mx-auto">
            <h1><label for="gotoID">GoTo Material #</label>
            <input list="Material-list" id="gotoID" name="gotoID" onfocus="$(this).select();" onchange="processGoToReq();" value="{{gotoForm.gotoItem}}">
            <span class="bi-caret-down-square" style="position:relative;top:+0px;font-size:45px;left:-59px;" onclick="$gotoTextBox.focus();"></span>
        </h1>
            <datalist id="Material-list">
                {% for itm in gotoForm.choicelist %}
                    <option value="{{itm}}">
                {% endfor %}
            </datalist>
        </div>
    </div>
</div>
<!-- </form> -->

<form id="FmMain" class="trackformchanges" method="post">
    {% csrf_token %}
    <!-- form header -->
    {% if frmMain.errors %}{{ frmMain.errors }}{% endif %}
    {# django does this field wrong - when it presents it as a <select>, it makes the selected value the initial value, not the actual #}
    <input type="hidden" name="material-org" id="id_material-org" value="{{ frmMain.instance.org_id }}">
    <hr>

    <!-- main part of form -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                {{ frmMain.instance.org }}
                Material: {% render_field frmMain.Material size="15" %} 
                Description: {% render_field frmMain.Description size="50" %}
                <input type="hidden" name="OrigMaterial" value="{{ frmMain.Material.value }}"></input>
                <input type="hidden" name="MatlPK" value="{{ frmMain.showPK.value }}"></input>
            </div>
            <div class="col-5">
                Part Type:  {% render_field frmMain.PartType style="width:10em" %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                SAP Matl Type: {% render_field frmMain.SAPMaterialType size="4" %}
                SAP Matl Grp: {% render_field frmMain.SAPMaterialGroup size="4" %}
                Price: {% render_field frmMain.Price style="width:8em" %}
                Price Unit: {% render_field frmMain.PriceUnit style="width:8em" %}
                Typ Container Qty: {% render_field frmMain.TypicalContainerQty style="width:6em" %}
                Typ Plt Qty: {% render_field frmMain.TypicalPalletQty style="width:6em" %}
            </div>
        </div>
        <div class="row">
        <div class="col">
            Notes: {% render_field frmMain.Notes size="80" %}
        </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-10 text-start">
                    SAP Date: {{ SAPSet.SAPDate }}
                    {% if SAPSet.SAPTable %}
                        {% for s in SAPSet.SAPTable %}({{ s.Material }}, {{ s.StorageLocation }}, {{ s.Amount }}, {{s.BaseUnitofMeasure}}){% endfor %}
                    {% else %}
                        <b> No SAP Quantity</b>
                    {% endif %}
                    <br>
                    Last Found At {{ lastFoundAt.lastFoundAt }} on {{ lastFoundAt.lastCountDate }}
                </div>
                <div class="col-2 text-end">
                    <button id="SchedCount" type="button" {% if userReadOnly %}disabled{%endif%}>Schedule Count</button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- subforms, implemented by Bootstrap Nav pills -->
    <ul class="nav nav-pills ps-1">
        <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" href="#CountDetail">Actual Count Detail</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#CountSummary">Actual Count Summary</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#CountSchedule">Count Scheduling</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#FoundAt">Found At</a>
        </li>
        </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container-fluid active" id="CountDetail">
            <div class="card">
                <div class="card-header">
                    {{ countset.management_form }}
                    {% for err in countset.errors %}
                        {% if err %}{{ err|default:'' }}<br>{% endif %}
                    {% endfor %}
                    <div class="container">
                    <div class="row">
                        <div class="col-2"><button type="button" id="AddCount" {% if userReadOnly %}disabled{%endif%}>Add Count</button></div>
                    </div>
                    <div class="row">
                        <div class="col-1">Count Date</div>
                        <div class="col-2">Counter</div>
                        <div class="col-3">Loc Only / Physical Inventory</div>
                        <div class="col-1">BLDG</div>
                        <div class="col-1">LOCATION</div>
                        <div class="col-2">Pos Not Rec / Mvmnt</div>
                        <div class="col">Count Notes</div>
                    </div>
                    </div>
                </div>
                <div class="card-body no-padding" style="height:210px; overflow: auto;">
                    {% for ff in countset %}
                    {% ifchanged ff.CountDate.value %}{% if not forloop.first %}<hr>{% endif %}{% endifchanged %}
                    <div class="row">
                        {{ ff.id }}
                        <div class="col-1">{% render_field ff.CountDate size="10" %}</div>
                        <div class="col-1">{% render_field ff.Counter size="10" %}</div>
                        <div class="col-4 text-start">
                            {% with sCE_parm=forloop.counter0  %}
                            {# django AND widget_tweaks both screw up the dynamic onchange building, so I'm doing it myself! #}
                            <input type="checkbox" 
                                    id="{{ ff.LocationOnly.id_for_label }}"
                                    name="{{ff.prefix}}-{{ff.LocationOnly.name}}"
                                    onchange="sCE({{ sCE_parm }});" 
                                    {% if ff.LocationOnly.value %} checked{% endif %}
                                    > 
                            <input type="text"
                                    id="{{ ff.CTD_QTY_Expr.id_for_label }}"
                                    name="{{ff.prefix}}-{{ff.CTD_QTY_Expr.name}}"
                                    {% if ff.CTD_QTY_Expr.value != None %} value="{{ ff.CTD_QTY_Expr.value|stringformat:'s' }}"{% endif %}
                                    maxlength="500" size="35" 
                                    onchange="sCE({{ sCE_parm }});">
                            <span class="container-md" id="EvalExpr{{ sCE_parm }}">????</span>
                            {% endwith %}
                        </div>
                        <div class="col-1">{% render_field ff.BLDG size="10" %}</div>
                        <div class="col-1">{% render_field ff.LOCATION size="10" %}</div>
                        <div class="col-1">{{ ff.FLAG_PossiblyNotRecieved }} {{ ff.FLAG_MovementDuringCount }}</div>
                        <div class="col-2">{% render_field ff.Notes size="30" %}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="CountSummary">
            <div class="card">
                <div class="card-header">
                    {{ countsummset.management_form }}
                    <div class="container"><div class="row">
                    <div class="col-2">Count Date</div>
                    <div class="col-2">Total Counted</div>
                    <div class="col-2">SAP Date</div>
                    <div class="col-2">SAP Qty</div>
                    <div class="col-2">Diff</div>
                    <div class="col">Acc %</div>
                    </div></div>
                </div>
                <div class="card-body no-padding" style="height:210px; overflow: auto;">
                    <ul>
                    {% for ffrm in countsummset %}
                        <li>
                        {% for ffld in ffrm %}
                            {% if ffld.name != 'Material' %}{{ ffld }}{% endif %}
                        {% endfor %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="CountSchedule">
            <div class="card">
                <div class="card-header">
                    {{ scheduleset.management_form }}
                    {% for err in scheduleset.errors %}
                        {% if err %}{{ err }}{% endif %}
                    {% endfor %}
                    <div class="container"><div class="row">
                        <div class="col-4">
                            Count Date - Counter - Priority
                        </div>
                        <div class="col-4">Reason Scheduled</div>
                        <div class="col-2">Notes</div>
                        <div class="col-2"></div>
                    </div></div>
                </div>
                <div class="card-body no-padding" style="height:210px; overflow: auto;">
                    {% for ff in scheduleset %}
                    <div class="row">
                        {{ ff.id }}
                        <div class="col-4">
                            {% render_field ff.CountDate size="10" %}
                            {% render_field ff.Counter size="10" %}
                            {% render_field ff.Priority size="10" %}
                        </div>
                        <div class="col-4">{% render_field ff.ReasonScheduled size="40" %}</div>
                        <div class="col-3">{% render_field ff.Notes size="30" %}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="FoundAt">
            <div class="card">
                <div class="card-header">
                    <div class="container"><div class="row">
                        <div class="col-4">
                            Count Date - Found At
                        </div>
                    </div></div>
                </div>
                <div class="card-body no-padding" style="height:210px; overflow: auto;">
                    <ul>
                    {% for ff in FoundAt %}
                        <li>
                        {{ ff.CountDate }}: 
                        {{ ff.FoundAt }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- form footer -->
    <br>
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-3">
                <button id="save_btn" type="submit" {% if userReadOnly %}disabled{%endif%}>
                    <img src="{% static 'poem-poetry-icon.svg' %}" width="20" height="20"></img>
                    Save changes
                </button>
            </div>
            <div class="col-7">
                <button id="add_btn" type="button" {% if userReadOnly %}disabled{%endif%}>
                    <img src="{% static 'addition-color-outline-icon.svg' %}" width="20" height="20"></img>
                    Add New Material
                </button>   
            </div>
            <div class="col">
                <button id="close_btn" type="button">
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>
</form>

<div id="modalGeneric" class="modal" >
</div>

<script>
    var $forms = document.getElementById("FmMain").querySelectorAll(":scope input");
    var initialState
    var $gotoTextBox = document.getElementById("gotoID");
    // record the ID and GPN of current record (it's used often!)
    var thisMtlID = {{frmMain.showPK.value|default_if_none:0}}, thisMtlGPN = "{{frmMain.Material.value}}"
    var CloseItFlag = false
    // set up MatlMap for verifying if an entered Material # is valid
    var MatlMap = new Map([
        {% for itm in gotoForm.choicelist %}
        ['{{itm}}', {{itm.id}}],
        {% endfor %}
        ]);
    {% comment %}
    // this code doesn't seem to speed anything up.  Abandoning.
    {% for itm in gotoForm.choicelist %}
        MatlMap.set('{{itm}}', {{itm.id}})
        document.getElementById("Material-list").insertAdjacentHTML("beforeend","<option value='{{itm}}'>")
    {% endfor %}
    {% endcomment %}


    //------------------

    document.addEventListener("DOMContentLoaded", function() {
        const EvalExprID = 'EvalExpr';

        initialState = serialize($forms);
        // fill in the Count evals
        // I'll clean this up later, I promise!
        for (let i=0; i < document.getElementById("id_countset-TOTAL_FORMS").value; i++) {
            CQtyID = 'id_countset-' + i + '-CTD_QTY_Expr';  {# TODO: use template vars later #}
            EvID = EvalExprID + i;  {# TODO: use template vars later #}
            // showCountExpr(CQtyID, EvID);
            sCE(i)
            // fbody = Function("function dummyCE" + i + "() { showCountExpr(this.id, '" + EvID + "'); };");  {# TODO: figure out how to take advantage of this line - OR - if it's needed #}
        };
        CloseItFlag = false || {{ userReadOnly|lower }};
        });

    window.addEventListener("beforeunload",  function(event) {
        if (CloseItFlag) {
            document.getElementById("wait_spinner").style.display = "block";
        } else {
            if (isFormChanged()) {
                event.preventDefault();
                confirmLeave(YesCloseIt);
            } else {
                document.getElementById("wait_spinner").style.display = "block";
            }
        };
        });


    //---------------

    function YesCloseIt() {
        CloseItFlag = true; 
        window.close(); 
    }

    //---------------

    const fmMain = document.getElementById('FmMain');
    
    function setPOSTAction(event) {
        newRec = "{% url 'MatlForm' %}";
        fmMain.action = newRec;
        CloseItFlag = true;
        }

    fmMain.addEventListener('submit', setPOSTAction);

    //---------------

    function loadMaterialRec() {
        goID = $gotoTextBox
        if (goID.value != null && goID.value != thisMtlGPN) {
            newRec="{% url 'MatlFormRecNum' 0 %}"
            newRec = newRec.replace("/0","/"+MatlMap.get(goID.value));
            document.getElementById("wait_spinner").style.display = "block";
            window.location = newRec;
        } else {
            goID.value = thisMtlGPN;
        }
    };

    //---------------

    //TODO: later, duplicate this for closeform (see document.body.onbeforeunload)
    document.getElementById("close_btn").addEventListener("click", 
        function(evobj){
            confirmLeave(YesCloseIt);
        });

    //-------------------

    
    //-------------------

    document.getElementById("SchedCount").addEventListener("click", function() {
        dVal = (new Date())                         // today
        dVal.setDate(dVal.getDate()+1)              // tomorrow
        dVal = dVal.toISOString().substring(0,10)   // make it a string
        
        newRec = "{% url 'CountScheduleForm' 0 'passedCountDate' 'passedMatlNum' %}"
        newRec = newRec.replace("/passedMatlNum","/"+thisMtlID);
        newRec = newRec.replace("/passedCountDate","/"+dVal);
        window.open(newRec,'_blank')
    });

    document.getElementById("AddCount").addEventListener("click", function() {
        dVal = (new Date())                         // today
        dVal = dVal.toISOString().substring(0,10)   // make it a string
        
        newRec = "{% url 'CountEntryForm' 0 'passedCountDate' 'matl' %}"
        newRec = newRec.replace("passedCountDate",dVal)
        mNum = thisMtlID
        newRec = newRec.replace("/matl","/"+mNum)
        window.open(newRec,'_blank')
    });

    //---------------------------

    document.getElementById("add_btn").addEventListener("click", addNewMatlRec)

    function addNewMatlRec(event) {
        newRec = "{% url 'NewMatlForm' %}"
        document.getElementById("wait_spinner").style.display = "block";
        window.location = newRec;
    };

    //-----------------

    function isValid_Material() {
        if ($gotoTextBox.value.trim()=="") {
                return false;
        } else {
            return MatlMap.has($gotoTextBox.value);
        }

    }

    //------------------

    function processGoToReq() {
        if (!isValid_Material()) {
            if ($gotoTextBox.value != "") { 
                $("#modalGeneric").dialog("option","title","Invalid Material");
                document.getElementById("modalGeneric").innerHTML = $gotoTextBox.value + " is not a valid Material number"
        
                $("#modalGeneric").dialog("option","buttons", 
                    { 
                        "OK" : function() {
                            $(this).dialog("close"); }
                    } );
                $("#modalGeneric").dialog("open");
                }
            $gotoTextBox.focus();
            return;
        } 
        confirmLeave(loadMaterialRec);
    };

    function isFormChanged() {
        currState = serialize($forms);
        return !(initialState === currState);
    };

    function confirmLeave(LeaveProc){
        if (isFormChanged()) {
            $("#modalGeneric").dialog("option","title","Leave Record?");
            document.getElementById("modalGeneric").innerHTML = "This record has changed<br>Do you really want to leave without saving?"
    
            $("#modalGeneric").dialog("option","buttons", 
                { 
                    "Yes": function() { 
                        LeaveProc();
                        $(this).dialog("close"); },
                    "No" : function() {
                        $(this).dialog("close"); }
                } );
            $("#modalGeneric").dialog("open");
        } else {
            LeaveProc();
        }
    };

    // handle Modal
    $("#modalGeneric").dialog({
        autoOpen: false,
        closeOnEscape: false,
        modal: true,
        hide: "puff",
        position: {
            my: "top center", at: "top center"
        }
    });
        
    
    function sCE(n){
        const EvalExprID = 'EvalExpr';
        const CTDQTY_Exp = 'id_countset-' + n + '-CTD_QTY_Expr';

        if (document.getElementById("id_countset-" + n + "-LocationOnly").checked) {
            document.getElementById(EvalExprID+n).innerHTML = "<b>LOC ONLY</b>";
        } else {
            showCountExpr(CTDQTY_Exp, EvalExprID+n);
       }
    };
// move to common???
    function showCountExpr(expr_fld, rslt) {
        document.getElementById(rslt).innerHTML = "= " + EvalExpr(document.getElementById(expr_fld).value);
    };

</script>
{% endblock %}

