{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}

{% block tTitle %}Upload CountEntry Results{% endblock %}

{% block boddy %}
    <div class="container text-center mx-auto">
    <div class="row">
        <div class="col-10 fs-1">
            <u>{{ orgname }}</u>
            <br>
            Upload Count Entry Results
        </div>
        <div class="col-2 text-end"> {{ uname }} </div>
    </div>
    </div>
    <hr>

    <h4>
        {{ nRowsRead }} spreadsheet rows read <br>
        {{ nRowsAdded }} Count Entry records successfully uploaded
    </h4>

    <br>
    <ul>
    {% for res in UplResults %}
        <li>
            {% if not res.error %}
                Sprsht row {{ res.rowNum }}, 
                Count Record {{ res.id }}: {{ res.CountDate|date:'Y-m-d '}} | {{ res.MaterialNum }} |
                    {{ res.Counter }} | {{ res.BLDG }} | {{ res.LOCATION }} |
                    {% if res.LocationOnly %}LOCATION ONLY{% else %}{{res.CTD_QTY_Expr }}{% endif %} 
                    added
            {% else %}
                <b>{{ res }}</b>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <!-- form footer -->
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-4"></div>
            <div class="col-6"></div>
            <div class="col">
                <button id="close_btn" type="button" onclick="window.close();" >
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>
    
{% endblock %}
