{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}

{% block tTitle %}Update Material List from SAP Spreadsheet{% endblock %}
{% block formName %}Update Material List from SAP MM60 Spreadsheet{% endblock %}
{% block wait_spinner_msgs %}Processing...<br>{% endblock %}
{% block statusMsgs %}
    <div>
    <span id="retStatecode"></span>: <span id="Upload-Status"></span>
    </div>
    <div id="fatalErrMsg"></div>
{% endblock %}

{% block boddy %}
<hr>
<form id="getUpdSprsheet" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Where is the SAP Material List Spreadsheet? 
    <p><input id="SAPFile" type="file"
        name="SAPFile"
        accept=".xlsx,application/vnd.ms-excel">
       </input>
    </p>
    Phs: <input id="phase" name="phase" type="text" value='init-upl' readonly></input>

    <!-- form footer -->
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-6">
                <button id="next_btn" type="button" onclick="PollBackend_fromInput();">
                    <img src="{% static 'upload-outbox-line-icon.svg' %}" width="20" height="20"></img>
                    Upload
                </button>
            </div>
            <div class="col-4"></div>
            <div class="col">
                <button id="close_btn" type="button">
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>
  </form>

<script>

    var intervalID;
    const POLLING_INTERVAL = 2000;

    function start_wait_spinner() { document.getElementById("wait_spinner").style.display = "block"; };
    function stop_wait_spinner() { document.getElementById("wait_spinner").style.display = "none"; };

    function SetRetData(data) {
        document.getElementById("Upload-Status").innerHTML = data.statetext;
        document.getElementById("retStatecode").innerHTML = data.statecode;
        };

    function PollBackend_fromInput() {
        PollBackend($("#phase").val())
    }
    function PollBackend(phase){

        // var phase = $("#phase").val() - phase gets passed in now - leave this code JIC
        $("#phase").val(phase)
        var retStatecode;
        const fform = document.getElementById("getUpdSprsheet");
        const formdata = new FormData(fform);

        if (phase == 'init-upl') {
            document.getElementById("Upload-Status").innerHTML = "";
            document.getElementById("fatalErrMsg").innerHTML = "";
            start_wait_spinner()

            $.ajax({
                method: 'POST', 
                data: formdata, 
                processData: false, 
                contentType: false, 
                dataType: "json",
                success: SetRetData,
                });
            $("#phase").val('waiting')
            intervalID = setInterval(PollBackend_fromInput,POLLING_INTERVAL);
            
            // disable buttons
            document.getElementById("SAPFile").disabled = true
            document.getElementById("next_btn").disabled = true
        } else if (phase == 'waiting') {
            $.ajax({
                method: 'POST', 
                data: formdata, 
                processData: false, 
                contentType: false, 
                dataType: "json",
                success: SetRetData,
                });
        } else if (phase == 'need-ident-exist-matl') {
            start_wait_spinner()

            $.ajax({
                method: 'POST', 
                data: formdata, 
                processData: false, 
                contentType: false, 
                dataType: "json",
                success: SetRetData,
                });
            $("#phase").val('waiting')
            intervalID = setInterval(PollBackend_fromInput,POLLING_INTERVAL);
        } else if (phase == 'need-add-del') {
            start_wait_spinner()

            $.ajax({
                method: 'POST', 
                data: formdata, 
                processData: false, 
                contentType: false, 
                dataType: "json",
                success: SetRetData,
                });
            $("#phase").val('waiting')
            intervalID = setInterval(PollBackend_fromInput,POLLING_INTERVAL);
        } else if (phase == 'wantresults') {
            // code won't make it here; normal reuqest submitted immediately on entering this phase (see retStatecode == 'done')
        };

        retStatecode = document.getElementById("retStatecode").innerHTML;
        // the following retStatecodes are NOOPs:
        // rdng-sprsht-init, starting, uploading-sprsht, rdng-sprsht, get-matl-link, add-matl, done-add-matl, del-matl, done-del-matl
        if (retStatecode == "fatalerr") {
            // kill intervalID = setInterval(PollBackend,1500,'waiting');
            clearInterval(intervalID);

            $( '#fatalErrMsg' ).text( $("#Upload-Status").text() );
            $( '#Upload-Status' ).text( "" );
            stop_wait_spinner();
            
            $("#phase").val('init-upl')
            document.getElementById("SAPFile").disabled = false
            document.getElementById("next_btn").disabled = false

            $( '#SAPFile' ).val(null);
            $( '#SAPFile' ).trigger("focus");

            // await user action
        } else if (retStatecode == "done-rdng-sprsht") {
            /** now that the backend runs in acceptable time, don't do this manually
            clearInterval(intervalID);  // stop polling
            stop_wait_spinner();
            
            $("#phase").val('need-ident-exist-matl')
            
            $( '#SAPFile' ).prop("disabled", true);

            $("#next_btn").text("Phase 1 processing (identify new/deleted matls)")

            // await user action            
            **/
        } else if (retStatecode == "get-matl-link-done") {
            /** now that the backend runs in acceptable time, don't do this manually
            clearInterval(intervalID);
            stop_wait_spinner();
            
            $("#phase").val('need-add-del')
            
            $("#next_btn").text("Phase 2 processing (do add/deletes)")

            // await user action
            **/
        } else if (retStatecode == "done") {
            // kill intervalID = setInterval(PollBackend,1500,'waiting');
            clearInterval(intervalID);

            // switch to results
            $("#phase").val('wantresults');
            // normal post, not ajax - result will replace this page
            $("#getUpdSprsheet").trigger("submit");
        };
    }

    document.body.onbeforeunload = function() {
        document.getElementById("wait_spinner").style.display = "block";
        }

    document.getElementById("close_btn").addEventListener("click",
        function(){
            window.close();
        });

</script>

{% endblock %}