{% extends "WICS_common.html" %}
{% load static %}


{% block tTitle %}Counting Agenda/Worksheet{% endblock %}
{# TODO: Find out why Desc and Last Found lines wrap incorrectly in print #}
{% block tHeader %}
<style>
    @page {
        size: letter portrait;
        margin: 0;
        padding: 0;
    }
    .header {
      position: fixed;
      top: 0;
    }
    .footer {
      position: fixed;
      bottom: 0;
    } 
    table.report-container {
        page-break-after:always;
    }
    thead.report-header {
        display:table-header-group;
    }
    tfoot.report-footer {
        display:table-footer-group;
    } </style>
{% endblock %}

{% block boddy %}
<!-- menu head -->
<div class="container text-center mx-auto d-print-none">
    <div class="row max-width=100%">
        <div class="col-10">
            <h2>
                Counting Agenda/Worksheet for
                <span class="container">
                    <input type="date" id="gotoID" onchange="loadDate();" value="{{ CountDate|date:'Y-m-d' }}">
                </span>
            </h2>
            SAP Date: {{ SAP_Updated_at }}
        </div>
        <div class="col-2 text-end">
            {{ user.get_full_name }}
            <br>
            <img src={% static 'WICS-Logo.png' %} width="150" height="70">
        </div>
    </div>
</div>
<div class="container text-center mx-auto d-print-none">
    <div class="row"> <!-- status messages -->
        <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
    </div>
</div>

<hr>
<!-- body -->

<div class="container mx-auto">
{% for itm in CtSchd %}
    {% if itm.NewCounter %}
        {% if not forloop.first %}
            <!-- close off the previous counter-->
            </div>
            <!-- <hr> -->
        {% endif %}
        <div class="container" style="break-after: page;">
        <div class="row max-width=100%">
            <div class="col-10">
                <h2>
                    {{ itm.Counter }} Counting Agenda/Worksheet for {{ CountDate|date:'Y-m-d' }}
                </h2>
            </div>
            <div class="col-2 text-end">
                <img src={% static 'WICS-Logo.png' %} width="150" height="70">
            </div>
        </div>
    {% endif %}

    <div style="break-inside: avoid;">  <!-- avoid page breaks for a single Material sheet -->
    <div class="row g-0 max-width=100%">
        <div class="col-6">
            {% if itm.NewMat3char or itm.NewCounter %}
                <span class="bg-secondary fw-bold fs-5 text-white" style="width:10">
                    __ {{ itm.Material.Material|slice:"0:3" }} __
                </span>
                <br class="bg-white">
            {% endif %}
            {{ itm.MaterialBarCode|safe }}
        </div>
        <div class="col-4">
            {{ itm.Material.org }} Material
            {{ itm.Material_org }}
        </div>
    </div>
    <div class="row g-0">
        <div class="col-11">
            {{ CountDate|date:'Y-m-d' }} |
            {{ itm.Material.PartType.WhsePartType|default:"NO PART TYPE" }} |
            Prio: <b>{{ itm.Priority }}</b> |
            Sched Counter: {{ itm.Counter|default:"---" }} |
            {{ itm.Material.Description }}
        </div>
    </div>
    <div class="row g-0">
        <div class="col-11">
        Typical Container Qty = {{ itm.Material.TypicalContainerQty }},
        Typical Pallet Qty = {{ itm.Material.TypicalPalletQty }} |
        Last Found On {{ itm.LastFoundAt.lastCountDate }} At {{ itm.LastFoundAt.lastFoundAt }}
        </div>
    </div>
    <div class="row g-0 calvin-smalltext">
        <div class="col-12">
        Requestor: {{ itm.Requestor }} | RequestFilled: {{ itm.RequestFilled|yesno:"yes,no,---" }} |
        Reason Scheduled: {{ itm.ReasonScheduled }} | Notes: {{ itm.Notes }} | SAP Qty: {{ itm.SAPQty }}
        </div>
    </div>
    <hr>
    </div>  <!-- style="break-inside: avoid;">  {!-- avoid page breaks for a single Material sheet -->
    {% if forloop.last %}
        <!-- close off the previous counter-->
        </div>
        <hr class="d-print-none">
    {% endif %}
{% endfor %}
</div>

<!-- form footer -->
<div class="container d-print-none">
    <div class="row mx-auto max-width=100%">
        <div class="col-10">
        </div>
        <div class="col-2">
            <button
                id="close_btn"
                type="button"
                onclick="window.close();">
                <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                Close Form
            </button>
        </div>
    </div>
</div>

<script>
function loadDate() {
    // send #gotoID back into the url
    dVal = $("#gotoID").val().replace(" ","%20")

    newRec = "{% url 'CountWorksheet' 'passedDate' %}"
    newRec = newRec.replace("/passedDate","/"+dVal);
    document.getElementById("wait_spinner").style.display = "block";
    window.location = newRec;

};

</script>

{% endblock %}
