{% extends "WICS_common.html" %}
{% load static %}


{% block tTitle %}Counting Agenda/Worksheet{% endblock %}
{% block tHeader %}
<style>
    @page {
        size: letter portrait;
        margin: 0;
        padding: 0;
    }
    .header {
      position: fixed;
      top: 0;
    }
    .footer {
      position: fixed;
      bottom: 0;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
{% endblock %}

{% block boddy %}
<!-- menu head -->
<div class="container text-center mx-auto d-print-none">
    <div class="row max-width=100%">
        <div class="col-10">
            <h2>
                Counting Agenda/Worksheet for
                <span class="container">
                    <input type="date" id="gotoID" onchange="loadDate();" value="{{ CountDate|date:'Y-m-d' }}">
                </span>
            </h2>
            SAP Date: {{ SAP_Updated_at }}
        </div>
        <div class="col-2 text-end">
            {{ user.get_full_name }}
            <br>
            <img src={% static 'WICS-Logo.png' %} width="150" height="70">
        </div>
    </div>
</div>
<div class="container text-center mx-auto d-print-none">
    <div class="row"> <!-- status messages -->
        <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
    </div>
</div>

<hr>
<!-- body -->

<div class="container mx-auto">
{% for itm in CtSchd %}
    {% ifchanged itm.Counter %}
        {% if not forloop.first %}
            {# print summary of Materials for previous Counter #}
            {% for M in CtSchd %}
            {% if forloop.first %}<hr><div class="fs-4" style="break-before: page;"><u>{{itm.prevCounter|default:""}} Materials</u><ul>{% endif %}
                {% if M.Counter == itm.prevCounter %}
                <li>{{ M.Material_org }}</li>
                {% endif %}
            {% if forloop.last %}</ul></div>{% endif %}
            {% endfor %}

            {# print summary of locations for previous Counter #}
            {% for L in LocationList %}
            {% if forloop.first %}
                <hr><div class="fs-4" style="break-before: page;">
                <u>{{itm.prevCounter|default:""}} Locations</u>
                <div class="small"><i>Material may be in locations not listed here</i></div>
                <ul>
            {% endif %}
            {% if L.Counter == itm.prevCounter %}
            <li>{{ L.FoundAt }} | {{ L.CountDate }} | {{ L.Material_org }}</li>
            {% endif %}
            {% if forloop.last %}</ul></div>{% endif %}
            {% endfor %}

            <!-- close off the previous counter-->
            </div>
            <!-- <hr> -->
        {% endif %}
        <div class="container" style="break-after: page;">
        <div class="row max-width=100%">
            <div class="col-11">
                <h2>
                    {{ itm.Counter|default:"" }} Counting Agenda/Worksheet for {{ CountDate|date:'Y-m-d' }}
                </h2>
            </div>
            <div class="col-1 text-end">
                <img src={% static 'WICS-Logo.png' %} width="150" height="70">
            </div>
        </div>
    {% endifchanged %}

    <div style="break-inside: avoid;">  <!-- avoid page breaks for a single Material sheet -->
    <div class="row g-0 max-width=100%">
        <div class="col-7">
            {{ itm.MaterialBarCode|safe }}
        </div>
        <div class="col-4 fs-5">
            {{ itm.Material.org }} Material
            {{ itm.Material_org }}
        </div>
    </div>
    <div class="row g-0">
        <div class="col-11">
            {{ CountDate|date:'Y-m-d' }} |
            {% if itm.Material.PartType %}
                {{ itm.Material.PartType.WhsePartType|default:"NO PART TYPE" }} |
            {% else %}
                NO PART TYPE |
            {% endif %}
            Prio: <b>{{ itm.Priority|default:"---" }}</b> |
            Sched Counter: {{ itm.Counter|default:"---" }} |
            {{ itm.Material.Description|default:"" }}
        </div>
    </div>
    <div class="row g-0">
        <div class="col-11">
        Typical Container Qty = {{ itm.Material.TypicalContainerQty }},
        Typical Pallet Qty = {{ itm.Material.TypicalPalletQty }} |
        Last Found On {{ itm.LastCountDate|default_if_none:"---" }} At {{ itm.LastFoundAt|default:"---" }}
        </div>
    </div>
    <div class="row g-0 calvin-smalltext">
        <div class="col-12">
        dbid {{ itm.pk }} |
        Requestor: {{ itm.Requestor }} | RequestFilled: {{ itm.RequestFilled|yesno:"yes,no,---" }} |
        Reason Scheduled: {{ itm.ReasonScheduled }} | Notes: {{ itm.Notes }} | SAP Qty: {{ itm.SAPQty }}
        {% if itm.Material.Notes %}
        <br>
        Material Notes: {{ itm.Material.Notes }}
        {% endif %}
        </div>
    </div>
    <br>
    <div class="row g-0 fs-3">
        <div class="col-8">Act Cntr: ________________________</div>
        <div class="col">Date: _____________</div>
    </div>
    <div class="row g-0">
        <table>
            <thead>
            <tr>
                <th style="width:20%">LOCATION</th>
                <th style="width:60%">CTD_QTY_Expr</th>
                <th style="width:20%">Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for L in LocationList %}
            {% if forloop.first %}<ul>{% endif %}
                {% if L.Material == itm.Material.pk %}
                <tr style="height:60px">
                    <td style="vertical-align:top;">{{ L.FoundAt }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
            <tr style="height:60px">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:60px">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:60px">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:60px">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>
    </div>  <!-- style="break-inside: avoid;">  {!-- avoid page breaks for a single Material sheet -->
    {% if forloop.last %}
        {# print summary of Materials for previous Counter #}
        {% for M in CtSchd %}
        {% if forloop.first %}<hr><div class="fs-4" style="break-before: page;"><u>{{itm.prevCounter|default:""}} Materials</u><ul>{% endif %}
            {% if M.Counter == itm.Counter %}
            <li>{{ M.Material_org }}</li>
            {% endif %}
        {% if forloop.last %}</ul></div>{% endif %}
        {% endfor %}

        {# print summary of locations for previous Counter #}
        {% for L in LocationList %}
        {% if forloop.first %}
            <hr><div class="fs-4" style="break-before: page;">
            <u>{{itm.prevCounter|default:""}} Locations</u>
            <div class="small"><i>Material may be in locations not listed here</i></div>
            <ul>
        {% endif %}
        {% if L.Counter == itm.Counter %}
        <li>{{ L.FoundAt }} | {{ L.CountDate }} | {{ L.Material_org }}</li>
        {% endif %}
        {% if forloop.last %}</ul></div>{% endif %}
        {% endfor %}

        <!-- close off the previous counter-->
        </div>
        <hr class="d-print-none">
    {% endif %}
{% endfor %}
</div>

<!-- form footer -->
<div class="container d-print-none">
    <div class="row mx-auto max-width=100%">
        <div class="col-10">
        </div>
        <div class="col-2">
            <button
                id="close_btn"
                type="button"
                onclick="window.close();">
                <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                Close Form
            </button>
        </div>
    </div>
</div>

<script>
function loadDate() {
    // send #gotoID back into the url
    dVal = $("#gotoID").val().replace(" ","%20")

    newRec = "{% url 'CountWorksheet' 'passedDate' %}"
    newRec = newRec.replace("/passedDate","/"+dVal);
    document.getElementById("wait_spinner").style.display = "block";
    window.location = newRec;

};

</script>

{% endblock %}
