{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}

{% block tTitle %}{% if variation == 'REQ' %}Requested {% endif %}Count Summary{% endblock %}
{% block customCSS %}
    @page {
        size: letter portrait;
        margin: 0;
        padding: 0;
    }
{% endblock %}
{% block formName %}
    <span class="fs-3">{{ CountDate|date:"l" }} <input id="CtDate" type="Date" value="{{ CountDate|date:'Y-m-d' }}" onchange="newCtDate();" size="5"></input></span>
    SAP Date {{ SAPDate }}
{% endblock %}

{% block boddy %}
<div id="mainReport" class="container-fluid mx-auto">
    {% for RptSection in SummaryReport %}
        {% ifchanged RptSection.org %}
            {% if not forloop.first %}
                <hr>
                </div>  <!-- org container -->
            {% else %}
            {% endif %}
            <div style="break-after: page;">    <!-- org container -->
                <div class="container text-center mx-auto"> <!-- org header -->
                    <div class="row">
                        <div class="col-5 fs-3 text-end">
                            <br>Counts {% if variation == 'REQ' %}Requested{% else %}Scheduled and Done{% endif %}
                        </div>
                        <div class="col-5 text-start">
                            <img src={% static 'WICS-Logo.png' %} width="200" height="100">
                        </div>
                        <div class="col-2 text-end"> {{ user.get_full_name }} </div>
                    </div>
                    <h1><u> {{ RptSection.org.orgname }} </u></h1>
                </div>    <!-- org header -->
        {% endifchanged %}
        {% if RptSection.outputrows|length > 0 %}
            <hr>
            <h3><u>{{ RptSection.Title }}</u></h3>
            {% for entry in RptSection.outputrows %}
                {% ifchanged entry.Material_id %}
                    <div style="break-inside: avoid;">   <!-- avoid page breaks for a single Material sheet -->
                        <div class="CtSummDetail">
                        <div class="row g-0 calvin-smalltext">
                            <div class="col-1">Count Date</div>
                            <div class="col-2">Material</div>
                            <div class="col-3">Counter</div>
                            <div class="col-2">LOCATION</div>
                            <div class="col-1">PKG ID / Desc</div>
                            <div class="col-1">TAG QTY</div>
                        </div>
                {% endifchanged %}
                {% if entry.type == 'Detail' %}
                    <div class="row g-0 calvin-smalltext">
                        <div class="col-1">{{ CountDate|date:"m/d" }}</div>
                        <div class="col-2">{{ entry.Material }}</div>
                        <div class="col-3">{{ entry.ActCounter }}</div>
                        <div class="col-2">{{ entry.LOCATION }}</div>
                        <div class="col-1">{{ entry.PKGID|default:"" }}</div>
                        <div class="col-1">{{ entry.TAGQTY|default:"" }}</div>
                    </div>
                    <div class="row g-0 small">
                        <div class="col-11 small text-end">
                            {% if entry.ActCountNotes %}
                                <b>Count Notes: </b>{{ entry.ActCountNotes|default:"" }}
                            {% endif %}
                            <b>Actual Count: </b> {{ entry.CTD_QTY_Expr }}
                        </div>
                        <div class="col-1">= <span class="text-end">{{ entry.CTD_QTY_Eval }}</span></div>
                    </div>
                    {% if entry.PossNotRec or entry.MovDurCt %}
                    <div class="text-center">
                        {% if entry.PossNotRec %}<b>POSSIBLY NOT RECIEVED</b>{% endif %}
                        {% if entry.MovDurCt %}<b>MOVEMENT DURING COUNT</b>{% endif %}
                    </div>
                    {% endif %}
                {% elif entry.type == 'Summary' %}
                    </div>  <!-- class CtSummDetail -->
                    <div class="CtSummSummary">
                    <div>
                        <b>SAP</b> {{SAPDate}}:
                        {% for s in entry.SAPNum %}{{ s }}{% endfor %},
                        Typical Container Qty = {{ entry.TypicalContainerQty|default:"---" }},
                        Typical Pallet Qty = {{ entry.TypicalPalletQty|default:"---" }}
                    </div>
                    <div class="row g-0">
                        <div class="col-5"><b>Totals for {{ entry.Material }}</b></div>
                        <div class="col-1">Counted</div>
                        <div class="col-1">SAP</div>
                        <div class="col-1">Diff</div>
                        <div class="col-1">Acc %</div>
                        <div class="col-1"></div>
                        <div class="col-1"></div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col-5">Part Type {{ entry.PartType }}</div>
                        <div class="col-1">{{ entry.CountTotal }}</div>
                        <div class="col-1">{{ entry.SAPTotal }}</div>
                        <div class="col-1">{{ entry.Diff }}</div>
                        <div class="col-1
                            {% if entry.Accuracy < AccuracyCutoff.DANGER  %} bg-danger
                            {% elif entry.Accuracy > AccuracyCutoff.SUCCESS %} bg-success
                            {% elif entry.Accuracy > AccuracyCutoff.WARNING %} bg-warning
                            {% endif %}
                        "><b>{{ entry.Accuracy|floatformat:2 }}%</b></div>
                        <div class="col-1"></div>
                        <div class="col-1"></div>
                        {% if variation != 'REQ' %}
                        <div class="col-1">
                            <button type="button" class="btnSchCt d-print-none" value="{{ entry.Material_id }}"><small>Schedule Count</small></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row g-0">
                        Scheduled Counter: {{ entry.SchedCounter|default:'----' }}
                        {% if entry.Requestor  %}
                            | Requestor: {{ entry.Requestor }} | RequestFilled: {{ entry.RequestFilled|yesno|upper }}
                        {% endif %}
                    </div>
                    {% if entry.ReasonScheduled %}
                    <div class="row g-0 small">
                        <div class="col"><b>Reason Scheduled: </b>{{ entry.ReasonScheduled }}</div>
                    </div>
                    {% endif %}
                    {% if entry.SchedNotes %}
                    <div class="row g-0 small">
                        <div class="col"><b>Schedule Notes: </b>{{ entry.SchedNotes }}</div>
                    </div>
                    {% endif %}
                    </div>  <!-- class CtSummSummary -->
                    <hr>
                    </div>     <!-- avoid page breaks for previous Material sheet -->
                {% else %}
                    Unknown lineout.type {{ entry.type }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>  <!-- final org container -->
</div>  <!-- mainReport -->
<!-- form footer -->
<div class="container">
    <div class="row mx-auto max-width=100% d-print-none">
        <div class="col-6"></div>
        <div class="col-4">
            <button id="download_btn" type="button" class="d-print-none btn btn-light btn-outline-secondary">
                <a href="{% static ExcelFileName %}" download>
                    D/L sprdsht
                </a>
            </button>
            <button id="swap_detail_disp_btn" type="button" class="d-print-none" onclick="swap_detail_disp();">Hide Detail</button>
        </div>
        <div class="col-2">
            <button id="close_btn" type="button">
                <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                Close Form
            </button>
        </div>
    </div>  <!-- the (only) row in form footer container -->
</div>  <!-- form footer container -->

<script>
    var mainscroll = "height:350px; overflow:auto;"

    //---------

    document.body.onbeforeunload = function() {
        document.getElementById("wait_spinner").style.display = "block";
        }

    //---------

    function confirmLeave(){
        // this is not an input form; we're always ready to leave
        return true;
    };

    //---------

    document.getElementById("close_btn").addEventListener("click",
        function(evobj){
            if (confirmLeave()) {
                window.close()
            }
        });

    //---------

    $(".btnSchCt").on("click",
        function() {
            dVal = (new Date())                         // today
            dVal.setDate(dVal.getDate()+1)              // tomorrow
            dVal = dVal.toISOString().substring(0,10)   // make it a string

            thisMtlGPN = this.value

            newRec = "{% url 'CountScheduleForm' 0 'passedCountDate' 'passedMatlNum' %}"
            newRec = newRec.replace("/passedMatlNum","/"+thisMtlGPN);
            newRec = newRec.replace("/passedCountDate","/"+dVal);
            window.open(newRec,'_blank')
        });

    //---------

    function newCtDate() {
        {% if variation is None %}
        var newRec = "{% url 'CountSummaryReport' 'PCD' %}".replace('/PCD','/'+$('#CtDate').val())
        {% else %}
        var newRec = "{% url 'CountSummaryReport-v' 'VARI' 'PCD' %}".replace('/PCD','/'+$('#CtDate').val()).replace('/VARI','/{{variation}}')
        {% endif %}
        window.location = newRec;
    }

    //---------

    function swap_prt_disp() {
    };

    //---------

    function swap_detail_disp() {
        // Hide/Show detail records
        let detailvis = $(".CtSummDetail").attr("style");
        if (detailvis==undefined) {
            $(".CtSummDetail").css("display","none")
            $("#swap_detail_disp_btn").html("Show Detail")
        } else {
            $(".CtSummDetail").removeAttr("style")
            $("#swap_detail_disp_btn").html("Hide Detail")
        }
    }

</script>

{% endblock %}

