{% extends "WICS_common.html" %}
{% load static %}

{% block tTitle %}SAP Table{% endblock %}
{% block boddy %}
<!-- menu head -->
<div class="container text-center mx-auto">
    <div class="row max-width=100%">
        <div class="col-6 fs-2 text-end">
            SAP Table 
            <span class="container">
                <select id="gotoID" onchange="loadSAPDate();">
                {% for SD in SAPDateList %}
                    <option value="{{SD|slice:':10'}}" 
                    {% if SD == SAPDate %} selected{% endif %}
                    >{{SD|slice:':10'}}</option>
                {% endfor %}
                </select>
            </span>
        </div>
        <div class="col-4 text-start">
            <img src={% static 'WICS-Logo.png' %} width="200" height="100">
        </div>
        <div class="col-2 text-end"> {{ user.get_full_name }} </div>
    </div>
    <div class="row"> <!-- status messages -->
        <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
    </div>
</div>

<hr>
<div class="container">
    <ul>
        <li>
        org &amp; Material | 
        Description |
        SAP StorageLocation | 
        SAP Quantity (unrestricted) |
        SAP ValueUnrestricted |
        SpecialStock | 
        Batch | 
        Vendor
        |&#x26AB|
        SAP Blocked |
        SAP ValueBlocked | 
        </li>
    </ul>
</div>

<!-- body -->
<div class="container" style="height:350px; overflow-y:auto;">
    <ul>
    {% for SAProw in SAPSet %}
    <li>
        {{ SAProw.MatlRec.org }}
        {{ SAProw.MatlRec }} | 
        {{ SAProw.Description }} |
        {{ SAProw.StorageLocation }} | 
        {{ SAProw.Amount }}  {{ SAProw.BaseUnitofMeasure }} |
        {{ SAProw.Currency }} {{ SAProw.ValueUnrestricted|floatformat:"2" }} |
        {{ SAProw.SpecialStock }} | 
        {{ SAProw.Batch }} | 
        {{ SAProw.Vendor }}
        |&#x26AB|
        {{ SAProw.Blocked }}  {{ SAProw.BaseUnitofMeasure }} |
        {{ SAProw.Currency }} {{ SAProw.ValueBlocked|floatformat:"2" }} | 
    </li>
    {% endfor %}
    </ul>
</div>

<!-- footer -->
<hr>
<div class="container">
    <div class="row mx-auto max-width=100%">
        <div class="col-2">
        </div>
        <div class="col-8">
        </div>
        <div class="col-2">
            <button 
                id="close_btn" 
                type="button">
                <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                Close Form
            </button>
        </div>
    </div>
</div>


<script>
    var $gotoTextBox = $("#gotoID");


    document.body.onbeforeunload = function() {
        document.getElementById("wait_spinner").style.display = "block";
        }

    // later, duplicate this for closeform (see document.body.onbeforeunload)
    document.getElementById("close_btn").addEventListener("click",
        function(evobj){
            if (confirmLeave()) {
                window.close()
            }
        });

    function confirmLeave(){
        // there's no form, so
        return true;
    };

    function loadSAPDate() {
        // send #gotoID back into the showSAP url
        dVal = $("#gotoID").val().replace(" ","%20")
        
        newRec = "{% url 'showtable-SAP' 'passedDate' %}"
        newRec = newRec.replace("/passedDate","/"+dVal);
        window.location = newRec;

    };

</script>

{% endblock %}