<!DOCTYPE html>
<html>
  <head>
    <title>Test!!</title>
  </head>
  <body>
    <h1>Calvin is testing here --- please add coffee</h1>

    <ul>
        {% for OptNum, mItem in mnInfo.items %}
          {% if OptNum != 0 %}
            <li>
                {# {{OptNum}}  {{mItem}} <p> #}
                {# later, build and use ProcessMenuButton #}
                <button type="button">
                  {% if mItem.Command == 1 %}
                  <a href={% url 'LoadMenu' menuNum=mItem.Argument %}> {{mItem.OptionText}} </a>
                  {% else %}
                  <a href={% url 'HandleCommand' CommandNum=mItem.Command CommandArg=mItem.Argument|default:'no-arg-no'|slugify %} target="_blank"> {{mItem.OptionText}} </a>
                  {% endif %}
                </button>
                {{mItem.Command}} // {{mItem.Argument}}
            </li>
          {% endif %}
        {% endfor %}
    </ul>
  </body>
</html>