{% extends "cMenu_base.html" %}

{% for OptNum, mItem in mnInfo.items %}
  {% if OptNum == 0 %}
    {% block menuName %}{{mItem.OptionText}}{% endblock menuName %}
    {% block menuName1 %}{{mItem.OptionText}}{% endblock menuName1 %}
    {% block menuName2 %}{{mItem.OptionText}}{% endblock menuName2 %}
  {% else %}
    {% block mnOpt{{OptNum}} %}
      {# {{OptNum}}  {{mItem}} <p> #}
      {# later, build and use ProcessMenuButton #}
      <button type="button">
        {% if mItem.Command == 1 %}
        <a href={% url 'LoadMenu' menuNum=mItem.Argument %}> {{mItem.OptionText}} </a>
        {% else %}
        <a href={% url 'HandleCommand' CommandNum=mItem.Command CommandArg=mItem.Argument|default:'no-arg-no'|slugify %}> {{mItem.OptionText}} </a>
        {% endif %}
      </button>
    {% endblock  %}
  {% endif %}
{% endfor %}
