<!DOCTYPE html>
<html>
  <head>
    <title>{% block menuName %}{% endblock menuName %}</title>
  </head>
  <body>
    <h2>Calvin is testing here --- please add coffee!!</h2>
    <h2>Testing the new menu template</h2>
    <h1>{% block menuName1 %}{% endblock menuName1 %}</h1>

    <table>
      <caption>{% block menuName2 %}{% endblock menuName2 %}</caption>
      <tr>
        <td id="mnOpt1">
          {% block mnOpt1 %} {% endblock mnOpt1 %}
        </td>
        <td id="mnOpt11">
          {% block mnOpt11 %} {% endblock mnOpt11 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt2">
          {% block mnOpt2 %} {% endblock mnOpt2 %}
        </td>
        <td id="mnOpt12">
          {% block mnOpt12 %} {% endblock mnOpt12 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt3">
          {% block mnOpt3 %} {% endblock mnOpt3 %}
        </td>
        <td id="mnOpt13">
          {% block mnOpt13 %} {% endblock mnOpt13 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt4">
          {% block mnOpt4 %} {% endblock mnOpt4 %}
        </td>
        <td id="mnOpt14">
          {% block mnOpt14 %} {% endblock mnOpt14 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt5">
          {% block mnOpt5 %} {% endblock mnOpt5 %}
        </td>
        <td id="mnOpt15">
          {% block mnOpt15 %} {% endblock mnOpt15 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt6">
          {% block mnOpt6 %} {% endblock mnOpt6 %}
        </td>
        <td id="mnOpt16">
          {% block mnOpt16 %} {% endblock mnOpt16 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt7">
          {% block mnOpt7 %} {% endblock mnOpt7 %}
        </td>
        <td id="mnOpt17">
          {% block mnOpt17 %} {% endblock mnOpt17 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt8">
          {% block mnOpt8 %} {% endblock mnOpt8 %}
        </td>
        <td id="mnOpt18">
          {% block mnOpt18 %} {% endblock mnOpt18 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt9">
          {% block mnOpt9 %} {% endblock mnOpt9 %}
        </td>
        <td id="mnOpt19">
          {% block mnOpt19 %} {% endblock mnOpt19 %}
        </td>
      </tr>
      <tr>
        <td id="mnOpt10">
          {% block mnOpt10 %} {% endblock mnOpt10 %}
        </td>
        <td id="mnOpt20">
          {% block mnOpt20 %} {% endblock mnOpt20 %}
        </td>
      </tr>
    </table>
  </body>
</html>