{% extends "WICS_common.html" %}
<!-- use more variables - system name, -->

{% block tTitle %}WICS Log in{% endblock %}
{% block tHeader %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE">
{% endblock %}
{% block boddy %}

<div class="container m-2">
{% if form.errors %}
    <h1>You are not an authorized user.</h1>
    <br><br>
{% else %}
    <!-- Header -->
    <div id="header">
        <h1>WICS2 Login</h1>
    </div>
    <!-- END Header -->
    <div id="content-main" class="container">
    <div class="row">
        <div class="col-6 border-right border-dark">
            <div class="container">
            <form method="post" id="login-form"> 
                {% csrf_token %}
                <div class="row">
                    <div class="col-2">{{ form.username.label_tag }}</div>
                    <div class="col">{{ form.username }}</div>
                </div>
                <div class="row">
                    <div class="col-2">{{ form.password.label_tag }}</div>
                    <div class="col">{{ form.password }}</div>
                </div>
                <div class="submit-row">
                    <input type="submit" value="login">
                    <input type="hidden" name="next" value="{% url 'initWICSuser' %}">
                </div>
                
                <div class="row mt-5">
                    <i>{{ Greeting }}</i>
                </div>
            </form>
            </div>
        </div>
        <div class="col-6">
            {{ News }}
        </div>
    </div>
    </div>
  <br class="clear">
{% endif %}
    <!-- footer -->
    <br>
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-4"></div>
            <div class="col-6"></div>
            <div class="col">
                <button id="close_btn" type="button" onclick="open(location, '_self').close();">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
