{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}


{% block tTitle %}Invalid{% endblock %}

{% block boddy %}
<div class="container text-center mx-auto">
  <div class="row">
      <div class="col-10 fs-1">
          <u>{{ orgname }}</u>
          <br>
          Password Change DENIED!
      </div>
      <div class="col-2 text-end"> {{ uname }} </div>
  </div>
  <div class="row"> <!-- status messages -->
      <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>
  </div>
</div>
<hr>

You may only change your own password!

<!-- form footer -->
<hr>
<div class="container">
    <div class="row mx-auto max-width=100%">
        <div class="col-2">
        </div>
        <div class="col-8">
        </div>
        <div class="col-2">
            <button 
                id="close_btn" 
                type="button" 
                onclick="window.close();">
                <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                Close
            </button>
        </div>
    </div>
</div>

{% endblock %}