{% extends "WICS_common.html" %}
{% load widget_tweaks %}

{# I gotta clean this template up too... #}


{% block tTitle %}Count Entry{% endblock %}

{% block boddy %}
<div class="container text-center mx-auto">
    <div class="row">
        <div class="col-10 fs-1">
            <u>{{ orgname }}</u>
        </div>
        <div class="col-2 text-end"> {{ uname }} </div>
    </div>
    <div class="row"> <!-- status messages -->

        <div id="wait_spinner" class="spinner-border text-success" style="display:none"></div>

        {% if changes_saved.main %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                This Material record successfully saved.
                ChDat: {{ changed_data.main }}
            </div>
        {% endif %}
        {% if changes_saved.counts %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                Count changes for this Material record successfully saved.
                ChDat: {{ changed_data.counts }}
            </div>
        {% endif %}
        {% if changes_saved.schedule %}
            <div class="alert alert-success p-0 alert-dismissible fade show">
                <button type="button" class="btn-close p-0" data-bs-dismiss="alert"></button>
                Count Schedule changes for this Material record successfully saved.
                ChDat: {{ changed_data.schedule }}
            </div>
        {% endif %}

    </div>
    </div>
    <hr>


Count Schedule Records
<!-- header row -->
<div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
        Count Date - Counter - Material
    </div> 
    <div class="col-3">
        Priority - Reason Sched.
    </div>
    <div class="col-1">CM Print Flag</div>
    <div class="col-3">Notes</div>
</div>
<hr>
<div class="container" style="height:350px; overflow: auto;">
    {% for itm in CtSchdList %}
    <div class="row">
        <div class="col-1">
        {{ itm.id }}
        </div>
        <div class="col-3">
            {{ itm.CountDate }}
            {{ itm.Counter }}
            <br>
            {{ itm.Material }}
        </div> 
        <div class="col-3">
            {{ itm.Priority }}
            {{ itm.ReasonScheduled }}
        </div>
        <div class="col-1">
            <input type="checkbox" value="{{ itm.CMPrintFlag }}" readonly>
        </div>
        <div class="col-3">{{ itm.Notes }}</div>
        <div class="col-1"><button id="edit{{ itm.id }}" name="edit" value="{{ itm.id }} " type="button">Edit This Schedule Entry</button></div>
    </div>
    <hr>
    {% endfor %}
</div>

<!-- form footer -->
<hr>
<div class="container">
    <div class="row mx-auto max-width=100%">
        <div class="col-2">
            <button id="add_btn" type="button">Add Schedule Entry</button>
        </div>
        <div class="col-8">
        </div>
        <div class="col-2">
            <button 
                id="close_btn" 
                type="button" 
                onclick="window.close();">Close Form</button>
        </div>
    </div>
</div>

{% endblock %}