{% extends "WICS_common.html" %}

{% block tTitle %}{{ menuName }}{% endblock %}
{% block boddy %}
    <!-- menu head -->
    <div class="container">
        <div class="row max-width=100%">
            <div class="col-1 text-start calvin-smalltext">{{ grpNum }},{{ menuNum }}</div>
            <div class="col-2"></div>
            <div class="col-6 text-center"><h1>{{ menuName }}</h1></div>
            <div class="col-3 text-end">{{ orgname }}<br>{{ uname }}</div>
        </div>
    </div>

    <!-- menu body -->
    <div class="container text-center">
        {% autoescape off %} {{ menuContents }} {% endautoescape %}
    </div>
{% endblock %}