{% extends "WICS_common.html" %}
{% load static %}

{% block tTitle %}{{ menuName }}{% endblock %}
{% block boddy %}
    <!-- menu head -->
    <div class="container">
        <div class="row max-width=100%">
            <div class="col-1 text-start calvin-smalltext">
                {{ grpNum }},{{ menuNum }}
                <br>
                {{ sysver }}
            </div>
            <div class="col-2"></div>
            <div class="col-6 text-center">
                <img src={% static 'WICS-Logo.png' %} width="200" height="100">
                <h1>{{ menuName }}</h1>
            </div>
            <div class="col-3 text-end">{{ user.get_full_name }}</div>
        </div>
        {% if messages %}
        <div class="row">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
    </div>

    <!-- menu body -->
    <div class="container text-center">
        {% autoescape off %} {{ menuContents }} {% endautoescape %}
    </div>
{% endblock %}