{% extends "WICS_common.html" %}
{% load static %}

{% block tTitle %}{{ menuName }}{% endblock %}

<!-- menu head -->
{% block WICSHdr_LogoFormNameUserName %}
    <div class="row max-width=100%">
        <div class="col-1 text-start calvin-smalltext">
            {{ grpNum }},{{ menuNum }}
            <br>
            {{ sysver }}
        </div>
        <div class="col-2"></div>
        <div class="col-6 text-center">
            <img src={% static 'WICS-Logo.png' %} width="150" height="75">
            <h1>{{ menuName }}</h1>
        </div>
        <div class="col-3 text-end">{{ user.get_full_name }}</div>
    </div>
{% endblock %}

{% block boddy %}
    <!-- menu body -->
    <div class="container text-center">
        {% autoescape off %} {{ menuContents }} {% endautoescape %}
    </div>
{% endblock %}