{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}

{% block tTitle %}Parameters{% endblock %}
{% block tHeader %}{% endblock %}

{% block formName %}<u>WICS Parameters</u>{% endblock formName %}
{% block statusMsgs %}
    {% if Changes.changed or Changes.deleted or Changes.added %}
        Changed: {{ Changes.changed }}
        <br>
        Deleted: {{ Changes.deleted }}
        <br>
        Added: {{ Changes.added }}
    {% endif %}
{% endblock %}

{% block boddy %}
<hr>
    <!-- form body -->
<form method="post">  <!-- action=?? - not needed - submit will submit to calling view -->
    <!-- form header -->
    {% csrf_token %}
    {{ plist.management_form }}
    <div class="container text-center">
        {% if plist.non_form_errors %}
        <div class="row">
            {{ plist.non_form_errors }}
        </div>
        <hr>
        {% endif %}
        <div class="row">
            <div class="col-3">
                ParmName 
            </div>
            <div class="col-3">
                ParmValue 
            </div>
            <div class="col-1">
                UserModifiable 
            </div>
            <div class="col-2">
                Comments 
            </div>
            <div class="col">
                Delete?
            </div>
        </div>
        <hr>
    </div>
    <!-- form main -->
    <div class="container">
        <ul id="form_set">
        {% for cprm in plist %}
            {% if cprm.UserModifiable.value == True or request.user.is_superuser %}
            <li>
            <div class="row mx-auto max-width=100%">
                {% if cprm.errors %} {{ cprm.errors }}<br> {% endif %}
                <div class="col-3">
                    {% render_field cprm.ParmName %}
                </div>
                <div class="col-3">
                    {% render_field cprm.ParmValue %}
                </div>
                <div class="col-1">
                    {% render_field cprm.UserModifiable %}
                </div>
                <div class="col-3">
                    {% render_field cprm.Comments %}
                </div>
                <div class="col">
                    {% if plist.can_delete %}
                        {{ cprm.DELETE }}
                    {% endif %}
                </div>
            </div>
            </li>
            <hr>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <!-- form footer -->
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-5">
                <button type="submit">
                    <img src="{% static 'poem-poetry-icon.svg' %}" width="20" height="20"></img>
                    Save changes
                </button>
                <!-- 
                <button id="add-user" type="button" onclick="create_empty_rec()">
                    Add parameter
                </button>
                --> 
            </div>
            <div class="col-5"></div>
            <div class="col">
                <button type="button" onclick="window.close();">
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Close Form
                </button>
            </div>
        </div>
    </div>

    <div id="empty_form" hidden>
        <li>
        <div class="row mx-auto max-width=100%">
            <div class="col-3">
                {% render_field plist.empty_form.ParmName %}
            </div>
            <div class="col-3">
                {% render_field plist.empty_form.ParmValue %}
            </div>
            <div class="col-1">
                {{ plist.empty_form.UserModifable }}
            </div>
            <div class="col-3">
                {% render_field plist.empty_form.Comments %}
                {% if plist.can_delete %}
                    {% render_field plist.empty_form.DELETE %}
                {% endif %}
            </div>
        </div>
        </li>
        <hr>
    </div>

</form>

    <script>

        document.body.onbeforeunload = function() {
            document.getElementById("wait_spinner").style.display = "block";
            }

        function create_empty_rec() {
            var form_idx = $('#id_form-TOTAL_FORMS').val()
            // check against max-forms before allowing add
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx).replace("hidden",""))
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1)
        }
    </script>

{% endblock %}