{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}


{% block tTitle %}Enter SQL{% endblock %}
{% block tHeader %}{% endblock %}
{% block boddy %}
<hr>
Enter SQL to run (only SELECT statements are supported)
<div class="container mx-auto">
<form id="FmMain" class="trackformchanges" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="container">
        <div class="row mx-auto max-width=100%">
            <div class="col-4">
                <button id="save_btn" type="submit">
                    <img src="{% static 'poem-poetry-icon.svg' %}" width="20" height="20"></img>
                    Run SQL
                </button>
            </div>
            <div class="col-6"></div>
            <div class="col">
                <button id="close_btn" type="button">
                    <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>
</div>
<br>
<hr>

<h2><u>Hints</u></h2>
<div class="container mx-auto" style="height:240px; overflow: auto;">   <!-- table and field name hints -->
    {% include 'WICS_tablehints.html' %}
</div>

<script>
    document.body.onbeforeunload = function() {
        document.getElementById("wait_spinner").style.display = "block";
        }

    $("#close_btn").on("click", function () { window.close() });
</script>
{% endblock %}

