{% extends "WICS_common.html" %}
{% load widget_tweaks %}
{% load static %}


{% block tTitle %}SQL Results{% endblock %}
{% block tHeader %}{% endblock %}
{% block boddy %}
<hr>

<div class="container mx-auto">
    {{ OrigSQL }}<br>
    {{ nRecs }} Records<br>
    {{ colNames }}
</div>
<div class="container">
<!-- div class="container"  style="height:350px; overflow:auto;" -->
<div class="container">

    <ul>
    {% for row in SQLresults %}
        <li>
        {{ row }}
        {% comment %}
        {% for vv in row %}
            {% for x in vv %} {{ x }}/ {% endfor %} |
        {% endfor %}
        {% endcomment %}
        {% comment %}
        {% for key, val in row %}
            {{ key }}:{{ val }} |
        {% endfor %}
        {% endcomment %}
        </li>
    {% endfor %}
    </ul>
    <hr>
</div>
<div class="row mx-auto max-width=100%">
    <div class="col-4"></div>
    <div class="col-5">
        <button onclick="history.back()">Back to SQL</button>
    </div>
    <div class="col">
        {% if ExcelFileName %}
        <button id="download_btn" type="button" class="d-print-none btn btn-light btn-outline-secondary">
            <a href="{% static ExcelFileName %}" download>
                D/L results
            </a>
        </button>
        {% endif %}
        <button id="close_btn" type="button">
            <img src="{% static 'stop-road-sign-icon.svg' %}" width="20" height="20"></img>
            Close
        </button>
    </div>
</div>
</div>

<script>
    document.body.onbeforeunload = function() {
        document.getElementById("wait_spinner").style.display = "block";
        }

    $("#close_btn").on("click", function () { window.close() });
</script>
{% endblock %}

